[2014-10-01 15:47] hughrawlinson opened #11 "Add Amplitude Modulation Feature Extractor"

[2014-10-01 15:47] hughrawlinson opened #12 "Add Auto Correlation Feature Extractor"

[2014-10-01 15:47] hughrawlinson opened #13 "Add Complex Domain Onset Detection Feature"

[2014-10-01 15:47] hughrawlinson opened #14 "Add Envelope Feature Extractor"

[2014-10-01 15:48] hughrawlinson opened #15 "Add Envelope Shape Statistics Feature Extractor"

[2014-10-01 15:48] hughrawlinson opened #16 "Add Frames Feature Extractor"

[2014-10-01 15:48] hughrawlinson opened #17 "Add Linear Predictor Coefficients Feature Extractor"

[2014-10-01 15:48] hughrawlinson opened #18 "Add Line Spectral Frequency Feature Extractor"

[2014-10-01 15:49] hughrawlinson opened #19 "Add Loudness Feature Extractor"

[2014-10-01 15:49] hughrawlinson opened #20 "Add Mel-Frequencies Cepstrum Coefficients Feature Extractor"

[2014-10-01 15:49] hughrawlinson opened #21 "Add Mel Cepstrum Feature Extractor"

[2014-10-01 15:49] hughrawlinson opened #22 "Add Octave Band Signal Intensity Feature Extractor"

[2014-10-01 15:50] hughrawlinson opened #23 "Add Octave Band Signal Intensity Ratio Feature Extractor"

[2014-10-01 15:50] hughrawlinson opened #24 "Add Perceptual Sharpness Feature Extractor"

[2014-10-01 15:50] hughrawlinson opened #25 "Add Perceptual Spread Feature Extractor"

[2014-10-01 15:50] hughrawlinson opened #26 "Add Spectral Crest Factor Per Band Feature Extractor"

[2014-10-01 15:51] hughrawlinson opened #27 "Add Spectral Decrease Feature Extractor"

[2014-10-01 15:51] hughrawlinson opened #28 "Add Spectral Flatness Feature Extractor"

[2014-10-01 15:51] hughrawlinson opened #29 "Add Spectral Flatness Per Band Feature Extractor"

[2014-10-01 15:51] hughrawlinson opened #30 "Add Spectral Flux Feature Extractor"

[2014-10-01 15:51] hughrawlinson opened #31 "Add Spectral Rolloff Feature Extractor"

[2014-10-01 15:52] hughrawlinson opened #32 "Add Spectral Shape Statistics Feature Extractor"

[2014-10-01 15:52] hughrawlinson opened #33 "Add Spectral Variation Feature Extractor"

[2014-10-01 15:52] hughrawlinson opened #34 "Add Temporal Shape Statistics Feature Extractor"

[2014-10-01 15:53] hughrawlinson opened #35 "Add Zero Crossing Rate Feature Extractor"

[2014-10-01 15:53] hughrawlinson opened #36 "Add Spectral Centroid Feature Extractor"

[2014-10-03 14:43] #36 closed, assigned to nobody

[2014-10-03 15:13] #19 closed, assigned to nobody

[2014-10-03 15:14] #24 closed, assigned to nobody

[2014-10-03 15:14] #25 closed, assigned to nobody

[2014-10-03 15:22] #35 closed, assigned to nobody

[2014-10-03 15:40] #31 closed, assigned to nobody

[2014-10-03 15:49] #28 closed, assigned to nobody

[2014-10-03 16:09] #16 closed, assigned to nobody

[2014-10-03 16:25] #34 closed, assigned to nobody

[2014-10-03 16:36] #14 closed, assigned to nobody

[2014-10-03 16:36] #15 closed, assigned to nobody

[2014-10-03 16:39] #11 closed, assigned to nobody

[2014-10-04 12:49] #32 closed, assigned to nobody

[2014-10-04 12:49] hughrawlinson opened #45 "Add Spectral Skewness Feature Extractor"

[2014-10-04 13:03] hughrawlinson opened #46 "Add Spectral Spread Feature Extractor"

[2014-10-04 13:03] hughrawlinson opened #47 "Add Spectral Kurtosis Feature Extractor"

[2014-10-04 15:41] #47 closed, assigned to nobody

[2014-10-04 15:42] #45 closed, assigned to nobody

[2014-10-04 15:42] #46 closed, assigned to nobody

[2014-10-04 17:12] #20 closed, assigned to nobody

[2014-10-10 11:06] fables-tales opened #53 "You should give a sample source in your readme.md"
It's not immediately clear to me how I hook in a source. Giving an example with a creative commons mp3 would help a lot :)

[2014-10-10 11:51] #53 closed, assigned to jakubfiala

[2014-11-09 06:52] hughrawlinson opened #58 "Make Meyda work on Chrome"

[2014-11-13 00:35] hughrawlinson opened #59 "Move to using Audio Workers"
This needs to happen once browsers have implemented Audio Workers, but before ScriptProcessorNode is removed from browsers.

[2014-11-20 11:57] hughrawlinson opened #60 "Add a build system to automatically generate the minified version"
It'd be great to automatically grab a minified version of meyda including the dependencies (fftjs, complex_array) whenever we commit to master. Alternatively, if we just run the build system before we commit to master, that'd work, but a way to test that would be excellent.

[2014-12-10 15:44] #21 closed, assigned to nobody

[2014-12-10 15:45] #58 closed, assigned to nobody

[2014-12-13 14:45] gearmonkey opened #62 "Add Chromagram to Feature Extractor"
there's already an mfcc, so adding a chroma isn't too much further work.

Here's a good primer on chroma: http://labrosa.ee.columbia.edu/matlab/chroma-ansyn/

[2014-12-13 23:20] hughrawlinson opened #64 "Spectral Flatness is out of range, and incorrectly scaled"
#Spectral Flatness has an issue!

It seems to vary between 0 and 1.13ish. It needs to be between 0 and 1.

[2014-12-15 13:49] ThisIsMissEm opened #65 "Website doesn't work for a bunch of features"
It seems that anything not outputting numbers or arrays is broken, looks like the canvas ID set at https://github.com/hughrawlinson/meyda/blob/master/index.html#L213 is wrong, as on https://github.com/hughrawlinson/meyda/blob/master/index.html#L252 you request `meyda.featureInfo[v].arrayNames["1"]` instead of `meyda.featureInfo[v]["1"]`

I suspect the line on 213 should be accessing `arrayNames` i

[2014-12-15 15:20] hughrawlinson opened #66 "Loudness is not working"

[2014-12-18 00:34] 0xdeafcafe opened #67 "taylor swift"
[Can](http://static.guim.co.uk/sys-images/Observer/Columnist/Columnists/2014/10/24/1414169836312/taylor-swift-009.jpg) [you](http://41.media.tumblr.com/2f139940db2fb19c9a0e29cb1d73ed03/tumblr_ndf351FHfp1qewjrdo1_1280.jpg) [add](http://i.telegraph.co.uk/multimedia/archive/03082/Taylor_Swift_2014__3082503b.jpg) [a](https://usatcollege.files.wordpress.com/2014/11/xxx_taylor-swift-1989-mus-jy-3575.jpg

[2014-12-18 12:34] #66 closed, assigned to nobody

[2014-12-18 12:41] #67 closed, assigned to nobody

[2014-12-25 22:25] #65 closed, assigned to hughrawlinson

[2014-12-30 09:39] jakubfiala opened #68 "Bark/Mel scale should really be calculated only once"
… as they're only dependent on bufferSize and sample rate, which wouldn't change unless a new Meyda is instantiated.

*suggested solution:*
the scales themselves should be stored as Float32Arrays, e.g. `self.barkScale`. They can be calculated once, before the `onaudioprocess` handler is attached to the SPN. There can also be conversion functions, as are now in the _mfcc_ extractor. I think it'd be

[2015-01-28 10:21] hughrawlinson commented on #12
I believe @jakubfiala is nearly done on this

[2015-01-28 13:54] nevosegal opened #70 "Remove feature info object"
As this is not very useful (maybe just for visualisations) we should remove this from meyda.js, possibly to a separate file.

[2015-01-28 16:32] hughrawlinson commented on #70
:+1: :sparkles:

[2015-01-28 16:33] jakubfiala commented on #70
:sparkling_heart:

[2015-01-30 19:39] vectorsize opened #71 "Modularisation"
Hello,

After a quick chat with @jakubfiala I mentioned that modularisation would be great for my use-case, so I thought it would be a good idea to post an issue here.

I'm a big fan of commonJS, I've been using it in many different libraries and it has worked great so far, and it allows a really nice workflow…

I've gone ahead and did some basic separations here:

https://github.com/vectorsize/me

[2015-01-30 19:42] vectorsize commented on #71
To clarify:
The main file now lives inside `/src` together with the rest of new modules.
Everything is bundled with browserify via `npm run bundle`. You can also uglify via `npm run uglify` and use `npm run watch` to watch your changes and bundle+uglify everytime something changes.

(requires to have browserify, uglifyjs and nodemon installed globally ~ but that's just one `npm install` away ;) )

[2015-01-30 19:51] jakubfiala commented on #71
Alright, I had a quick skim through the code, looks great! I don't have time to test at the moment, but will do that soon. @hughrawlinson @nevosegal on a besoin de votre avis! 📡

[2015-01-30 20:04] nevosegal commented on #71
Hey @vectorsize,

Thank a lot! I just move to a new flat so I don't have wifi to test it, but I will do it tomorrow. I think it's a great idea to modularise the code, so that people would be able to use the features separately.

Sent from my iPhone

[2015-01-30 20:15] hughrawlinson commented on #71
I'm absolutely for modularising the code. I have to admit I'm not totally familiar with the differences between commonJS, AMD and es6 modules, but if IRCAM is using CommonJS, it sounds good to me!

Cloning for testing now. Thanks @vectorsize.

[2015-01-30 22:10] jakubfiala commented on #71
Alright, so everything seems to be working perfectly. Just a question – the `meyda.js` in the root directory, is that the browserified version? It might be clearer to only have one `meyda.js`, preferably the one in `src` in a release version, in addition to the uglified-minified file.

[2015-02-07 19:06] vectorsize commented on #71
wow I missed this thread haha… sorry I'm a mess
@jakubfiala yes that's the browser ready version, without it it's tricky to use the example and index etc.

new branch in es6 over here: https://github.com/vectorsize/meyda/tree/es6

Just a few notes: only fully worked on the [loudness extractor](https://github.com/vectorsize/meyda/blob/es6/src/extractors/loudness.js) besides the core updates.

lemme

[2015-06-26 13:40] hughrawlinson opened #74 "Consider using Flow"
I can't believe I'm saying this, but... [http://flowtype.org/](Flow) is a static type checker for Javascript. It could save us a lot of time writing unit tests. I suggest using `weak` mode for now, I'll check out how that might work this evening - I'm hoping to combine it with linting and testing.

[2015-06-26 14:05] hughrawlinson opened #76 "Put the source of the WAC2015 paper into a branch"
Lets clean up the source of the WAC2015 paper on Meyda and open source it either on a branch of this repo or on another repo. I'm not sure I have it anymore - was it in Overleaf or did we keep it somewhere else?

[2015-06-26 14:13] hughrawlinson opened #77 "Add Constant Q Transform"

[2015-06-26 14:37] hughrawlinson commented on #76
Done! :smile:

[2015-06-26 14:37] #76 closed

[2015-07-21 20:25] hughrawlinson commented on #74
Yeah, no. I wrote the unit tests now, I'm not adding flow.

[2015-07-21 20:25] #74 closed

[2015-07-24 15:18] #71 closed

[2015-08-24 12:45] #70 closed

[2015-09-12 22:41] #60 closed

[2015-10-04 21:36] jakubfiala opened #85 "Make a standalone 'ampSpectrum' extractor?"
Alright so having attempted to use our MFCC extractor as a standalone function in node, I realised that actually I cannot use any spectral features unless the FFT is calculated internally by the Meyda object. We may say this is by design, but in order for the "standalone" extractors to work, we need the ability to calculate the amplitude spectrum without having to run an SPN/audioworker. Otherwise

[2015-10-05 00:06] hughrawlinson commented on #85
Yes, that's absolutely a glaring design flaw that I missed. We should totally do this, and modify the main meyda class to use it rather than calculate the ampSpec inside the SPN callback each time. If you want to take this on, that'd be great. :shipit: :sparkles:

[2015-10-05 00:19] hughrawlinson commented on #85
Oh, and while you're doing this, it'd be really great if you could look into the possibility of doing exactly the same thing with the complex spectrum?

[2015-10-05 08:24] jakubfiala commented on #85
Alright, self-assigned this. Will do the same with complex spec, too 🚀

Hopefully this will be done in the next couple of days as I kind of need it for research anyways

[2015-10-05 08:26] jakubfiala commented on #85
@hughrawlinson versioning-wise, should this end up in the next versioned release or shall we just leave it as a hotfix on the master branch?

[2015-10-05 11:12] hughrawlinson commented on #85
@jakubfiala I switched us to using semantic versioning in meyda so that we'll be able to push small hotfixes/patches to production when we incremement the patch version. When a PR (or a group of simultaneous PRs) get merged to master, I will increment the appropriate version number, be that major, minor or patch, and push to bower and npm.

[2015-10-13 10:04] jakubfiala opened #86 "Offline `get` method"
Following our discussion – related to #85 – I think the best course of action is what @hughrawlinson suggested.

This would be an offline version of the `get` method (couldn't think of a hot name for it yet), which would behave as follows:

+ Argument no. 1 will be identical to the standard `get`, i.e. a `String` denoting the desired feature, or an `Array` of such strings. Argument no. 2 will be a

[2015-10-13 10:05] jakubfiala commented on #85
This issue is probably going to be solved in #86

Closing this now.

[2015-10-13 10:05] #85 closed

[2015-11-22 19:36] hughrawlinson opened #87 "cli.js exposes things to global scope"
It shouldn't do that, in case someone mistakenly includes it somewhere for some reason.

[2015-11-22 19:39] hughrawlinson opened #88 "CLI Modularization"
Any useful functions and transforms we come up with for the CLI should probably be split out into lib files and exposed for developers to use for their convenience, rather than having people reimplementing things. This is part of the next issue, to do with reconsidering the packaging structure.

[2015-11-22 20:31] hughrawlinson opened #89 "Multiple packages"
This is bound to be controversial, but...

Javascript packages have been more and more moving towards small, core packages to reduce bloat in their dependent packages. Two examples of this are grunt, and babel, who have respectively split out functionality between `['grunt', 'grunt-cli', 'grunt-contrib-sass', 'gulp-contrib-whatever','etc']` and `['babel','babel-es2015','babel-jsx','etc']`. I belie

[2015-11-22 20:32] hughrawlinson opened #90 "Automated Benchmarking"
A script to test speed and accuracy vs other frameworks would be really useful in helping us gauge what use-cases meyda is appropriate for.

[2015-11-22 20:35] hughrawlinson opened #91 "CLI accepting other audio formats"
The CLI should accept WAV, AIFF, Raw PCM, FLAC, MP3, and OGG (probably also other ones). I'd imagine the best way to do this would be to replace the `wav` dependency with an entirely new package that abstracts the audio file reading. That package should be separate to meyda, anyone want to take this on and start a repo? Particulars can be discussed on the issues on that repo.

[2015-11-24 14:30] #87 closed

[2015-11-26 10:33] nevosegal opened #93 "Add more windows"
We should add more windowing functions such as sine, rectangular and triangular.

[2015-11-26 10:39] nevosegal commented on #62
Should we implement this for v3.0?

[2015-11-26 15:17] jakubfiala commented on #62
@nevosegal yes please!

[2015-11-26 18:31] hughrawlinson commented on #93
Tip top! How about more with names of people though too? Why these particular ones? (Not questioning whether or not we add them, just interested to know what their different properties are)

[2015-11-26 18:31] hughrawlinson commented on #62
oui :santa:

[2015-11-29 15:57] Number-42 commented on #86
Until this is fixed, are there any workarounds to implement meyda completely serverside?

[2015-11-29 16:05] jakubfiala commented on #86
@Number-42 yes, I've done it, it's a bit hacky but it's possible with v2.0. Here's how to do it so you can also use spectral features:

+ you first include the meyda and jsfft stuff separately
[code]

+ then you need to use jsfft to extract your amplitude spectrum
[code]

+ then, you can extract features

[code]

(obviously, `signal.length === bufSize`)

**Good news is,** v3.0.0 which will have an

[2015-11-29 16:15] Number-42 commented on #86
Thank you. Any callback functions get an array of feature values extracted in the order their names were fed into ```meyda.start()``` as arguments, right?

[2015-11-29 16:21] jakubfiala commented on #86
@hughrawlinson correct me if I'm wrong, but I think the callback receives an object, with feature names as keys. It is in the same order though.

Of course, `meyda.start()` won't run without Web Audio.

[2015-11-29 16:33] Number-42 commented on #86
I'm assuming that callbacks are defined inside ```mfccs```. Does extraction automatically start, or does ```mfccs.get()``` have to be run first? I see that ```get()``` returns output once (the example in the documentation has it used to define a single variable), which I assume to contain all feature values extracted throughout the input file. Is the output a JSON containing all feature extracted

[2015-11-29 22:06] jakubfiala commented on #86
Not sure what you mean there – this workaround works if you have a chunk of audio data (should be a `Float32Array` btw), and you want to extract a feature (could be spectral or temporal) on that one chunk, once. The `get` and `start` methods are not applicable here, we will have something like that in v3.

Because there's no Web Audio in node.js (I'm assuming that's what you're using), the interna

[2015-11-29 22:09] hughrawlinson commented on #86
Yes, all of what Jakub said :smile:

I was nearly done writing a big long comment to cover all of that, and then Jakub's comment covered it all, and more! :smile:

[2015-11-29 22:12] jakubfiala commented on #86
It's the Meyda vibe! 💃

[2015-11-29 22:22] Number-42 commented on #86
Sorry to have been a bother.

Also, I assume it's been tried, but [node-web-audio-api] (https://github.com/sebpiq/node-web-audio-api) seems like it'd help with the offline implementation.

[2015-11-29 22:26] jakubfiala commented on #86
No problem, you haven't! As I said, if you need help, feel free to get in touch.

RE: node-web-audio, yes, it certainly would, Sébastien is doing a great job on that one. However, only a handful of nodes are implemented, and I think live audio in node is still not widespread enough.
Then again, SPN is already implemented, so theoretically, Meyda should already run on it!

[2015-11-29 22:28] jakubfiala commented on #86
Actually, it probably won't run on it, but a tiny code modification like adding `require('web-audio-api').` where the SPN is created should do the job

[2016-01-14 15:31] jakubfiala commented on #89
I've thought about this a bit and I agree that a separate package for the CLI is better.

[2016-01-14 15:35] jakubfiala commented on #86
I've put the above hack for v2 in [this gist](https://gist.github.com/jakubfiala/368e7beeed14dc84abd3) if anyone finds it more convenient.

[2016-01-15 10:29] nevosegal commented on #90
The windows were tested against MATLAB and they're OK.

[2016-01-29 20:35] hughrawlinson commented on #93
Added GitHub fixmarks tags to PR description, updated name as Jakub asked.

[2016-01-29 21:54] hughrawlinson opened #99 "Consider Bower"
Is Bower a useful place to put Meyda? Do we want to officially maintain it as a place people go to get it? People [seem to be migrating away from it](https://medium.com/@vdclouis/how-and-why-we-replaced-bower-with-npm-da2514346739#.2ka4azoqu).

[2016-01-29 21:55] hughrawlinson opened #100 "Autodeploy tagged releases to npm"
Much easier than administrating manual deployments. I'm on it.

[2016-01-29 21:55] hughrawlinson commented on #100
I aim to have this in place by 3.0

[2016-01-29 21:59] hughrawlinson commented on #89
So lets come up with a package structure :smile:

I'm thinking:
* meyda
  * core meyda feature extractors
* meyda-web-audio
  * meyda with the web audio interface
* meyda-cli
  * meyda with the cli

Obviously each should depend on each other, and the code should be written in such a way as to make it possible to update core meyda without needing the others to do anything more than upgrade the depe

[2016-01-29 22:00] hughrawlinson commented on #89
(we can not do meyda-web-audio if you don't want to)

[2016-01-29 22:02] hughrawlinson commented on #68
This is done :)

[2016-01-29 22:02] #68 closed

[2016-01-29 22:04] #13 closed

[2016-01-29 22:04] #17 closed

[2016-01-29 22:04] #18 closed

[2016-01-29 22:04] #22 closed

[2016-01-29 22:04] #23 closed

[2016-01-29 22:04] #26 closed

[2016-01-29 22:04] #27 closed

[2016-01-29 22:04] #29 closed

[2016-01-29 22:05] #33 closed

[2016-01-29 22:06] hughrawlinson commented on #59
lol

We can reopen this once the working group sorts their shit out.

Hello, developer of 2525.

[2016-01-29 22:06] #59 closed

[2016-01-29 22:07] hughrawlinson commented on #88
This will go on the CLI repo

[2016-01-29 22:07] #88 closed

[2016-01-29 22:55] hughrawlinson commented on #99
Actually I'll close this - I'm gonna stop pushing to bower, because download stats are low. Someone else can push if they want, and if we get any complaints we can consider starting that again.

[2016-01-29 22:55] #99 closed

[2016-01-29 23:25] hughrawlinson commented on #12
Removing v3.0 milestone as it isn't ready.

[2016-01-29 23:41] #86 closed

[2016-01-29 23:41] #93 closed

[2016-01-29 23:41] #100 closed

[2016-01-29 23:54] hughrawlinson opened #102 "Documentation"
...is now out of date because of v3.0.0. That was a bit of an oversight.

We need to document:

- [ ] The CLI
- [x] The offline extraction
- [x] The web audio interface

[2016-01-29 23:56] hughrawlinson opened #103 "Full refresh for the showcase website"
gh-pages probably needs a full rewrite. I reckon we can design a nicer site than what we've currently got :) I have big plans for a nice unified visualizer and a benchmarker.

[2016-01-30 16:03] #102 closed

[2016-01-31 10:37] hughrawlinson opened #107 "Add new MFCC extractor"
Nevo wanted to make some changes to the MFCC extractor. This will be v3.0.2.

[2016-02-02 08:58] #107 closed

[2016-02-02 09:26] nevosegal commented on #12
@jakubfiala, I had a quick look at the autocorrelation function you started implementing (wow how much had changed since then!), and it feels really complicated for a relatively simple feature. As far as I understand it (correct me if I'm wrong), autocorrelation is basically convolution of a signal with itself. However, this is not efficient and people often implement it as: FFT-> point-wise multi

[2016-02-03 10:55] hughrawlinson commented on #62
lol this issue

@nevosegal reckon you can work on this soon?

[2016-02-03 10:57] nevosegal commented on #62
@hughrawlinson, I'll try to do it ASAP.

[2016-02-10 12:43] hughrawlinson opened #112 "Consider removing dist from repo"
At the moment, Travis builds and publishes to npm. This means that `dist` is always fresh there, and *may* be different to what's in the repository. That's poor IMO. I think we should remove `dist`. There is a complication, bower is powered by GitHub, so it actually requires the built code to be in the repo. It sucks. Fortunately, many frontenders are realising this and switching to npm for even f

[2016-02-10 14:25] hughrawlinson opened #113 "History support"
We should consider storing the history of some features. Previously, I thought it would just complicate things and not provide much benefit, and if there's a use case for it it should be handled outside of Meyda, but thinking about it we actually get quite a lot from it:

* The ability to calculate certain features that rely on time-history (to a greater extent than what #104 provides for)
* The a

[2016-02-10 14:26] hughrawlinson commented on #103
I'm working on this now. See the `sndpeek` branch (and its sub-branches) for a sneak preview.

@jakubfiala @nevosegal

[2016-02-10 14:29] hughrawlinson commented on #90
I'm taking the benchmarking part of this task this as a subtask of my `gh-pages` update #103, and creating a new task for the comparison bit of this task.

[2016-02-10 14:32] hughrawlinson opened #114 "Compare and display benchmarks with other libs"
Compare and display the results of our automated benchmarking against similar benchmarks from other libraries

This is _not_ a subtask of #103 because it's a bit of a deep dive, and would likely block the release for longer than should be acceptable.

It would require finding other libraries with benchmarking suites, normalizing the result data against each other, and storing this data somewhere.

[2016-02-10 14:38] hughrawlinson commented on #30
@nevosegal if you still want to be assigned to this, it's possible if you branch out of PR #104. Otherwise, let me know and deassign yourself :smile:

[2016-02-11 09:43] hughrawlinson commented on #103
Subtasks:

- [ ] Build sndpeek style visualizer
- [ ] Build benchmarker
- [ ] Build marketing site
- [ ] Establish maintenance "SLA"s so this doesn't happen again
- [ ] Style review
- [ ] Build commit-api powered changelog
- [ ] Investigate generated documentation using jsdoc
- [ ] Investigate automated dependency greenkeeper

*Where 'investigate' means 'look into whether or not this helps us show

[2016-02-11 09:50] hughrawlinson commented on #12
@nevosegal `jsfft` does actually provide an (undocumented) inverse fft, and we already have a point-wise multiplication function, so this should be *very* easy as a feature extractor. Do you or @jakubfiala want to get it done? I can pick it up if you like, but I'd like some help with verifying that it's correct, as I'm not very familiar with what this feature is used for, and what its characterist

[2016-02-11 09:52] jakubfiala commented on #12
yeah, I think I just followed the technique they used in yaafe. Using the ifft would be immensely more efficient for sure.

[2016-02-11 14:48] nevosegal commented on #12
I'll try implementing it and we'll see.

[2016-02-12 16:26] rbozan opened #116 "CLI just doesn't work properly for me"
Tried on 2 Windows systems and on both the CLI just outputs values which do not seem to be correct: rms doesn't really seem to be accurate at all and the rms never goes below 0.5, except in the last frame.

`meyda "greatmusic.wav" rms --o="test.json" --format="json"`
[greatmusic.wav](https://github.com/hughrawlinson/meyda/files/128263/greatmusic.zip)

This happens on all the audio files I've tried

[2016-02-12 16:37] hughrawlinson commented on #116
Hi @rbozan, I don't think any of us have actually tested Meyda on a windows machine. Would you mind cloning the repository and running `npm run default` in the directory?

[2016-02-12 16:40] rbozan commented on #116
[code]

[2016-02-12 16:46] hughrawlinson commented on #116
Ok, so that didn't work out like I hoped it would. If you could run the following, this should work:

[code]

I'm not familiar with the Windows CMD prompt, but as long as `npm` works the same as it does on unix, this *should* work.

[2016-02-12 17:07] rbozan commented on #116
[code]

[2016-02-12 17:16] nevosegal commented on #116
Hi,

I reproduced on my machine and I'm looking into it.

[2016-02-15 12:59] nevosegal commented on #116
Hey @rbozan, it seems like we have an issue with our wav loader, thanks for finding it. We'll fix it in the next few days.

[2016-02-16 12:03] #116 closed

[2016-02-16 12:15] nevosegal opened #118 "Add support to float encoded WAV files on the CLI"
Currently, we only support WAV files with UInt or Int encoding. We should add float support as well.

[2016-02-16 12:17] nevosegal commented on #116
Hey @rbozan, this is now fixed, you should pull the latest version of Meyda (3.0.4). Let me know if it's working well on your side. Cheers

[2016-02-22 09:18] nevosegal commented on #12
OK, so I've checked and it is possible to compute it using an FFT, and even simpler using the IFFT of a power spectrum (see [this question on stackoverflow](http://stackoverflow.com/a/3950398/2065922)). The only problem we have is that we only only compute the power spectrum on half of the amplitude spectrum (up to the nyquist), which is problematic for ACF. We should consider passing the full amp

[2016-02-22 09:21] nevosegal commented on #114
Are you talking about other JS libraries? If so, I'm not sure they exist atm.. If you're talking about stuff like YAAFE and Librosa I'm not sure it'll look very pretty :P.

[2016-02-22 10:19] hughrawlinson commented on #114
I'm talking about any other feature libraries. I'm sure it won't look pretty (unless we normalize for general language benchmarks), but it'll be a decent incentive for us to learn optimization.

[2016-02-22 10:37] nevosegal commented on #114
I agree about comparing the results to other libraries, not sure what it will give if we display them. But yeah, definitely an important thing that we should do.

[2016-02-22 11:56] nevosegal commented on #64
Just checked against YAAFE, we get _very_ similar results. They also get ~0.83 for pure white noise. I think the difference between us and them is in the implementation of the FFT so there is nothing we can do at the moment.

[2016-02-22 11:56] #64 closed

[2016-02-22 14:11] hughrawlinson commented on #114
How do you mean "what it will give"? What the point would be? I mean, I'm thinking about the cli, right? IMO it's important to be transparent about the amount of time we take in comparison with other options. The "obviously it'll be slow it's javascript" argument doesn't hold with me because a) it doesn't say *how* slow it'll be in comparison to other options, and b) I can imagine someone finding

[2016-02-22 15:04] hughrawlinson commented on #12
Ok, anything I can do to help?

[2016-02-22 15:05] nevosegal commented on #12
Nope, just writing my thoughts atm.. :D thanks

[2016-03-16 12:42] hughrawlinson commented on #62
[More references](http://www.nyu.edu/classes/bello/MIR_files/tonality.pdf)

[2016-03-16 12:43] hughrawlinson commented on #77
[More information](http://academics.wellesley.edu/Physics/brown/pubs/effalgV92P2698-P2701.pdf)

[2016-03-16 22:12] 2xAA opened #120 "Meyda Web Invalid Array Length"
Hey. I'm using Meyda in my project modV - love it, great work! But on trying to update modV to use the npm version of Meyda so I can stay up to date, I keep running into:

```meyda.js:2412 Uncaught RangeError: Invalid array length```

Tracing this back, the variable 'numFilters' is undefined within the function 'createMelFilterBank' and following the traceback, looks like it was never set.

I'm in

[2016-03-17 18:59] nevosegal commented on #120
Hey Sam!
Thanks for letting us know. I am not sure why it's happening off the top of my head but we'll look into it ASAP.

Cheers,
Nevo

[2016-03-17 19:04] hughrawlinson commented on #120
Hi Sam, could you paste the traceback if you still have it? What browser were you using?

[2016-03-17 19:40] 2xAA commented on #120
Google Chrome (Mac) Version 49.0.2623.87 (64-bit)

Here's the traceback, through 4 functions.
![Traceback1](http://wray.pro/junk/traceback-1.png)
![Traceback2](http://wray.pro/junk/traceback-2.png)
![Traceback3](http://wray.pro/junk/traceback-3.png)
![Traceback4](http://wray.pro/junk/traceback-4.png)

[2016-03-17 19:41] 2xAA commented on #120
Google Chrome (Mac) Version 49.0.2623.87 (64-bit)

Here's the traceback, through 4 functions.
![Traceback1](http://wray.pro/junk/meyda-traceback-1.png)
![Traceback2](http://wray.pro/junk/meyda-traceback-2.png)
![Traceback3](http://wray.pro/junk/meyda-traceback-3.png)
![Traceback4](http://wray.pro/junk/meyda-traceback-4.png)

[2016-03-22 15:26] hughrawlinson commented on #120
Sam, do you have particularly aggressive garbage collection turned on by chance? Can you give us a JSON representation of the state of the `self` object when the MeydaAnalyzer function defined on line 2195 is called?

[2016-03-23 14:03] 2xAA commented on #120
Hi Hugh, how would I see the garbage collection level? I didn't realise JavaScript had different levels of Garbage collection. I'll get you the self object asap.

[2016-03-24 13:06] 2xAA commented on #120
The JSON representation of ```self``` on line 2195 is ```{}```.

[2016-03-29 09:18] hughrawlinson commented on #120
I was definitely wrong about the GC.

Do you have a branch that you're working on that I can clone? Might be the best way for me to fix this.

[2016-03-29 14:05] #30 closed

[2016-03-29 14:22] #120 closed

[2016-04-28 20:28] Wilsonwaterfish opened #134 "TypeError: self._errors is undefined"
I got an error when I load meyda.min.js in my webpage.

TypeError: self._errors is undefined

t()
[28]</y.createMeydaAnalyzer()

[2016-04-28 22:15] hughrawlinson commented on #134
Hey @Wilsonwaterfish 😄 Could you try [this copy](https://raw.githubusercontent.com/hughrawlinson/meyda/errors-scope/dist/web/meyda.min.js) of meyda.min.js?

[2016-05-04 16:51] AhmedHamedTN commented on #114
Seriously, is it any good ??

[2016-05-04 18:23] hughrawlinson commented on #114
@AhmedHamedTN is what any good?

[2016-05-04 20:56] AhmedHamedTN commented on #114
@hughrawlinson To use Meyda for audio feature extraction for my research on depression clues in speech.
Thank you for replying so soon.

[2016-05-04 21:46] hughrawlinson commented on #114
This issue isn't the right forum to have this discussion, but I'll give you an overview and if anything is unclear you can reach out to me [on twitter](http://twitter.com/hughrawlinson) or via the email listed on my github profile.

Can Meyda detect signs of depression in speech: no, not out of the box. Meyda provides low level audio features that describe basic properties of sound, rather than in

[2016-05-04 23:18] AhmedHamedTN commented on #114
@hughrawlinson  Thank you for this brief explanation sir, i sent you an email.

[2016-05-19 22:28] hughrawlinson opened #138 "Switch to an fft library in npm"
We're using an fft library as a git include. It's a bit wonky... We should switch to using one from npm, it looks like there are several, including one from the excellent @jensnockert.

[2016-05-20 07:07] jensnockert commented on #138
Mine is undermaintained for now, and I wouldn't recommend it :c

[2016-05-20 10:40] hughrawlinson commented on #138
Ah ok, thanks Jens.

Still there are a few on npm that don't cause our new linter to have a heart attack, we should move to those :)

[2016-05-20 11:44] nevosegal commented on #138
I would love to write an FFT library myself. I'll try making some time for it soon

[2016-05-20 13:37] hughrawlinson commented on #138
@nevosegal would you write it as a module or as part of Meyda? Are there advantages to either?

[2016-05-20 14:09] nevosegal commented on #138
@hughrawlinson as a separate module. I don't think there are any advantages to either really, it's just that I would like people to use it so it's probably easier that way.

[2016-06-01 11:57] nevosegal commented on #138
Quick update - FFT library underway! available [here](https://github.com/nevosegal/fft-js).

[2016-07-19 18:28] hughrawlinson commented on #103
Close enough.

[2016-07-19 18:28] #103 closed

[2016-07-24 10:28] hughrawlinson commented on #138
@nevosegal is your FFT library at feature parity with our existing dependency and in NPM now? Looks like it still needs tests and a README, but there are no issues, so I don't know where to start helping.

[2016-08-01 14:29] nevosegal commented on #138
@hughrawlinson it's not yet on npm, and it does indeed need some tests before we can integrate it with Meyda. Hopefully I'll be able to do it soon.

[2016-09-15 20:44] hughrawlinson commented on #134
Hey @Wilsonwaterfish, is this still an issue for you?

[2016-09-15 20:57] hughrawlinson commented on #113
There's no interest in this, it would take a lot of time to implement, so I'm closing this. Feel free to reopen if you disagree.

[2016-09-15 20:57] #113 closed

[2016-09-15 20:57] hughrawlinson commented on #90
Not doing this. Meyda is appropriate for the js usecase.

[2016-09-15 20:57] #90 closed

[2016-09-15 20:59] hughrawlinson commented on #112
Unilateral decision time (because nobody gave me any opinions): we don't care about bower anymore. We may still need dist in the repo though.

[2016-09-15 22:48] Wilsonwaterfish commented on #134
Hi Hugh,

Yes it works. Sorry for not replying.

Wilsonwaterfish

On Sep 15, 2016 4:44 PM, "Hugh Rawlinson" <notifications@github.com> wrote:

[2016-09-16 13:58] hughrawlinson commented on #134
No worries! I think I merged the change that was in that copy. Is the current master version working for you? If so, I'll close this issue.

[2016-09-18 20:54] hughrawlinson opened #160 "Use configure methods to stop relying on mutable config vars"
We currently have our default parameters (buffer size, windowing function, etc) set as defaults in the top level class. We should use a configure function to handle that, like so:

`meyda.js`

[code]

`user.js`

[code]

[2016-10-15 20:05] hughrawlinson commented on #112
Done.

[2016-10-15 20:05] #112 closed

[2016-10-15 20:07] #134 closed

[2016-12-08 03:26] Cortexelus commented on #138
Should compare any FFT  implementation to the other javascript benchmarks. https://www.google.com/amp/s/thebreakfastpost

Speed is essential for online analysis. Phone browsers may struggle if too slow.

[2016-12-20 12:09] yverenoir opened #167 "Getting "TypeError: Meyda is not a constructor""
Hey guys,

I am using:
"<script type="text/javascript" src="meyda.min.js"></script>"
with
"meyda = new Meyda(context,source,512);",
but when I launch the app, it tells me:
"TypeError: Meyda is not a constructor".

When I inspect the page, it has shows meyda.min.js in the right place. What am I doing wrong?

I would be grateful for any information!

Thanks!

Yours,
Yve

[2016-12-25 17:34] jakubfiala commented on #167
Hey @yverenoir assuming you're using the latest version, the correct way of using Meyda with Web Audio is as detailed [in the wiki](https://github.com/hughrawlinson/meyda/wiki/getting-started#feature-extraction-with-the-web-audio-api)

[code]

[2017-01-22 22:08] hughrawlinson opened #170 "Node v7 changes numbers!"
It looks like Node v7 has changed some things about how math operations work that affects spectralFlatness and mfcc. I've registered a support ticket with Node, but the problem will be in v8 because that's where it's defined. https://github.com/nodejs/help/issues/456

[2017-01-25 22:20] hughrawlinson opened #173 "Duplicate bark scale code"
It looks like I did something stupid 2 years ago while writing tests by copying the bark scale method to TestData for some reason. I ought to get the output of the code and set that as a literal const, and then, check that it actually lines up with the bark data we get out of our existing code. (It's possible that many of our tests don't actually test correctly because of this)

[2017-01-25 22:22] hughrawlinson commented on #170
I've solved this issue in #166 by using chai's approximate assertion to clamp the equality check to 15 digits of precision in the MFCC test and 16 in spectralFlatness.

[2017-01-25 23:10] hughrawlinson commented on #173
I misread.

[2017-01-25 23:10] #173 closed

[2017-01-25 23:10] hughrawlinson commented on #167
Hey @yverenoir - feel free to reopen this issue if you need more help!

[2017-01-25 23:10] #167 closed

[2017-01-25 23:16] hughrawlinson commented on #138
Hey @Cortexelus - is that the link you meant to post? It just takes me to a Google redirect for 'thebreakfastpost'.

Do you have any fft benchmarking resources we could refer to? Of course, feel free to send a Pull Request! 😉 I seem to remember @notthetup did something along those lines a couple of years ago, maybe that's still up to date.

[2017-01-26 06:29] notthetup commented on #138
https://github.com/notthetup/webaudiofftperf

But I haven't been keeping it up either. :(

 I'll try to at least move up to the latest versions of the fft libraries over this weekend.

[2017-01-26 15:27] hughrawlinson commented on #170
Solved!

[2017-01-26 15:27] #170 closed

[2017-01-26 15:28] hughrawlinson commented on #138
Thanks @notthetup! I'll subscribe to the repo to keep up to date 😄

[2017-02-14 03:05] greenkeeper[bot] opened #176 "An in-range update of browserify is breaking the build 🚨"
## Version **14.1.0** of [browserify](https://github.com/substack/node-browserify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hughrawlinson/meyda/compare/greenkeeper%2Fbrowserify-14.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      browserify
    </td>
  </tr>
  <tr>
    <th a

[2017-02-16 01:12] greenkeeper[bot] opened #177 "An in-range update of codeclimate-test-reporter is breaking the build 🚨"
## Version **0.4.1** of [codeclimate-test-reporter](https://github.com/codeclimate/javascript-test-reporter) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hughrawlinson/meyda/compare/greenkeeper%2Fcodeclimate-test-reporter-0.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      codec

[2017-02-20 16:15] 2xAA commented on #138
jsfft is now on npm at 0.0.2 and the git include is currently breaking things.
Files have slightly changed too and ```lib``` is now ```dist```.

Hope to see this updated soon, modV is broken without Meyda.
Might PR tonight if I have time.

[2017-02-20 16:30] greenkeeper[bot] opened #178 "An in-range update of eslint is breaking the build 🚨"
## Version **3.16.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hughrawlinson/meyda/compare/greenkeeper%2Feslint-3.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-02-20 20:20] 2xAA opened #179 "meyda failing to install and build from git on Windows"
The ```build``` script in ```package.json``` is not compatible with CMD on Windows.

```mkdir``` on Windows does not support the ```-p``` flag as this is default behavior. (though is this needed? we're already in the directory the folder is being created in, so parents do not need creation)

The gulp executable path must be wrapped in double quotation marks for this to run.

An actual build script

[2017-02-21 17:47] greenkeeper[bot] opened #180 "An in-range update of mocha-lcov-reporter is breaking the build 🚨"
## Version **1.3.0** of [mocha-lcov-reporter](https://github.com/StevenLooman/mocha-lcov-reporter) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hughrawlinson/meyda/compare/greenkeeper%2Fmocha-lcov-reporter-1.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha-lcov-reporter

[2017-02-22 15:38] 2xAA commented on #138
I'm having issues making this PR, uglify is being passed the ComplexArray class from jsfft, babelify isn't transpiling it. I can't find a fix for this currently apart from "it's a bug with Babel 6" on a number of stackoverflow questions.

I know this is another issue entirely and probably should be an issue on a branch of a fork I should make, but just keeping you up to date on this PR status.

[2017-02-23 17:31] hughrawlinson commented on #138
Oh crap, only just saw this! Sorry @2xAA!

[2017-02-23 17:34] hughrawlinson commented on #138
@nevosegal I don't suppose we can just swap in your FFT implementation?

@2xAA if you have code already, it'd be great if you could open a PR even if it's broken, that way we can see what you've been doing and work together?

[2017-02-23 18:36] 2xAA commented on #138
PR #181 now up for review, buildWeb still fails though :(

[2017-02-23 21:01] 2xAA commented on #138
So, I switched out the build process for webpack 1 and Babili with the fixes from #181 included and meyda builds again. (I really couldn't figure out why Uglify didn't work. I was at it for hours)

I know @nevosegal is going to incorporate his fft library into meyda soon, but if you're in need of a quick fix you can check my fork out: https://github.com/2xAA/meyda/tree/webpack-build

[2017-02-23 23:18] hughrawlinson commented on #179
Good point, I've never tested this. I had a brief look for getting Travis CI to run Windows and found [this issue](https://github.com/travis-ci/travis-ci/issues/2104), looks like the upshot is to use something like [tea-ci](http://docs.tea-ci.org/usage/overview/). In the mean time, I'm happy to accept a PR that fixes this before finding a Windows CI solution.

[2017-02-23 23:42] #180 closed

[2017-02-23 23:43] #178 closed

[2017-02-23 23:43] #176 closed

[2017-02-23 23:44] #177 closed

[2017-02-23 23:51] hughrawlinson opened #189 "SemVer Question"
I've just realised we haven't published since May. There are only a few small changes, but depending on interpretation, they could conceivably be considered major, because while the API doesn't change, due to underlying changes in node, some of the extractors will now return slightly different values for the same input, which could in theory break a load of ML stuff. Luckily, as far as I know, nob

[2017-02-23 23:53] jakubfiala commented on #189
Personally I think this feels like a 3.2.0 thing, given the precision changes etc.

[2017-02-24 10:16] 2xAA commented on #179
In actuality, I think you can just remove ```mkdir -p node``` from the build script in your package.json and you'll be fine on Windows.

It seems to be completely redundant anyway creating an empty folder named "node" in the root the project.

[2017-02-24 12:59] hughrawlinson commented on #189
Could you explain the reasoning for incrementing minor version? It's exactly the one I thought it for sure wasn't 😜

Everyone I've asked so far has said it's a major change because it could break datasets. It sucks but I think this is a major release. We could mitigate this in the future by coming up with a better branching strategy, allowing us to release fixes like #183 without having to release

[2017-02-24 13:00] hughrawlinson commented on #189
Everyone/anyone ok with me doing a major release?

[2017-02-24 13:30] 2xAA commented on #189
Sounds good to me, makes sense at least haha ;)

[2017-02-28 21:01] hughrawlinson commented on #189
@jakubfiala @nevosegal any concerns with me going ahead? I'm planning to do it tomorrow.

[2017-02-28 22:18] nevosegal commented on #189
👍

[2017-03-02 10:10] jakubfiala commented on #189
fine by me!

[2017-03-06 15:53] yarandoo opened #190 "LUFS extractor"
Hi,

Wondering if it would be possible to extract LUFS for a given audio track.

Thanks!

[2017-03-06 22:57] hughrawlinson commented on #190
Hey @yarandoo - we don't have LUFS as an extractor at the moment, but we'd love to provide the functionality. If you'd like to make a PR, you're very welcome to!

I've found an [implementation in JS](https://github.com/dodds-cc/lufs.js/blob/master/js/lufsAnalyser.js) which may be useful to you either way.

[2017-03-07 10:56] yarandoo commented on #190
Hi @hughrawlinson thanks, I will have a look at your source and the link!

[2017-04-05 00:20] greenkeeper[bot] opened #192 "An in-range update of browserify is breaking the build 🚨"
## Version **14.3.0** of [browserify](https://github.com/substack/node-browserify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hughrawlinson/meyda/compare/greenkeeper%2Fbrowserify-14.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      browserify
    </td>
  </tr>
  <tr>
    <th a

[2017-04-06 09:49] 2xAA opened #193 "Use npm & transpile for jsfft"
As jsfft is on npm now, I think it's best to prefer npm packages rather than git links.
It causes issues for Windows users installing with ssh-based git.

I've created a new branch called [```webpack2```](https://github.com/hughrawlinson/meyda/tree/webpack2) which has an updated build process (which works this time 😉) for transpiling jsfft's ES6 code using webpack2.

The branch also contains fixes

[2017-04-06 09:50] 2xAA commented on #138
#193 potentially solves this

[2017-04-06 09:51] 2xAA commented on #179
#193 potentially solves this

[2017-04-06 18:12] hughrawlinson commented on #193
Excellent news! Want to open a PR?

[2017-04-09 15:33] 2xAA commented on #193
@hughrawlinson - will do!

[2017-04-14 10:58] tjjjwxzq opened #195 "CLI is broken"
I notice that `cli.js` is trying to import `../dist/node/main.js` but the `dist` folder has been gitignored. Any plans on fixing this?

[2017-04-14 14:33] 2xAA commented on #195
The dist folder is ignored as meyda is built to the dist folder on install.
Please try running ```npm install meyda``` again.

[2017-04-15 07:36] lazarljubenovic opened #196 "Cannot find module "meyda""
Trying to `import` or `require` the module after installing (tried both `yarn` and `npm`) gives me `Cannot find module "meyda"`.

And indeed, the `package.json` for this module says `"main": "./dist/node/main.js"`, but there is no such folder. This is probably related to https://github.com/hughrawlinson/meyda/issues/112. I don't have a `dist` folder in my `node_modules/meyda`. Also, the [suggested

[2017-04-15 07:45] lazarljubenovic commented on #196
The current workaround is to navigate to the `node_modules/meyda`, and run `npm i && npm run build`. This makes everything work as expected.

[2017-04-15 09:28] hughrawlinson commented on #195
If you've installed meyda with `npm install [-g] meyda` and are calling the cli from that package, the dist folder *should* be in the package. At the moment, the build is broken, but as soon as it's fixed, this should work just fine.

[2017-04-15 09:35] hughrawlinson commented on #196
Hey @lazarljubenovic - @2xAA and I will work on fixing this today :)

[2017-04-15 09:37] hughrawlinson commented on #189
I did this, things are broken for different reasons, @2xAA and I will work on fixing them today.

[2017-04-15 09:37] #189 closed

[2017-04-15 09:38] hughrawlinson commented on #89
I'll close this issue as stale :)

[2017-04-15 09:38] #89 closed

[2017-04-15 10:51] jakubfiala commented on #189
awesome, thanks @hughrawlinson @2xAA

[2017-04-15 13:00] hughrawlinson commented on #196
@lazarljubenovic this should be fixed in v4.0.1 which we've just published - could you check it out and confirm?

[2017-04-15 13:18] lazarljubenovic commented on #196
Thanks for quick responses! Looks like it's getting there but still missing
some deeper deps.

[code]

On Sat, Apr 15, 2017 at 3:00 PM, Hugh Rawlinson <notifications@github.com>
wrote:

[2017-04-15 13:29] hughrawlinson commented on #195
Hey @tjjjwxzq - we think we've fixed this in v4.0.2 - could you try updating and checking?

[2017-04-15 13:30] hughrawlinson commented on #193
Done

[2017-04-15 13:30] #193 closed

[2017-04-15 14:05] hughrawlinson commented on #196
@lazarljubenovic could you try v4.0.2?

[2017-04-15 14:14] lazarljubenovic commented on #196
[code]

:(

[2017-04-15 14:22] hughrawlinson commented on #196
Can you share more about your webpack setup? `/node_modules/meyda/node_modules/jsfft-for-meyda` looks like the wrong path.

[2017-04-15 14:23] hughrawlinson commented on #196
Also, can you try `rm -rf node_modules/meyda && npm install meyda`

[2017-04-15 14:23] #192 closed

[2017-04-15 14:24] hughrawlinson commented on #138
We do this now.

[2017-04-15 14:24] #138 closed

[2017-04-15 14:24] hughrawlinson commented on #160
stale close

[2017-04-15 14:24] #160 closed

[2017-04-15 14:36] lazarljubenovic commented on #196
It's a `create-react-app` setup, so webpack is hidden away.

And yup, I am nuking and re-installing the package again every time. Still no luck.

I think I'm onto something, though. The `meyda/dist/node/main.js` has the `require('jsfft-for-meyda')` which is probably why it's looking deeper into `node_modules`.

If I change my import to `import Meyda from 'meyda/dist/web/meyda.js'`, it _loads_, but

[2017-04-15 14:41] 2xAA commented on #179
#194 fixed this 🎉

[2017-04-15 14:41] #179 closed

[2017-04-15 14:47] hughrawlinson commented on #196
This doesn't sound right - whichever implementation of require you have should be looking at the top level `node_modules`.

Could you check that meyda@4.0.2 is a dependency of your project?

Also, `meyda/dist/web/meyda.js` is for use in script tags, and exports a global `Meyda` object. For commonjs imports you should import `meyda/dist/node/main.js`. You can set this to happen automatically in you

[2017-04-15 14:58] lazarljubenovic commented on #196
Interesting. I was deleting just `meyda` from `node_modules` (either with `npm` command or with `rm -rf`) and re-installing, but the issue remained. When I nuked the whole `node_modules`, I got it to work. I have to import from `mayda/dist/node/main.js` explicitly now though, but I don't mind it.

I don't have access to `webpack.config.js`, as I don't want to `eject` the `create-react-app` (it hid

[2017-04-15 15:07] hughrawlinson commented on #196
Great, thanks for helping us figure this out! I'll close this issue as you say it's solved, but I'll open another issue to track the require via browser property. It seems that webpack expects the file in package.json/browser to be a commonjs module, which is weird to me, but if more people report this, we'll take that to be the correct behaviour.

Enjoy the feature extracting, please let us know

[2017-04-15 15:07] #196 closed

[2017-04-15 15:08] hughrawlinson opened #199 "Webpack expects 'browser' export to be commonjs"
It's actually a global export. We can find a better way to have webpack resolve things nicely.

[2017-04-15 17:05] 2xAA commented on #199
Some reference, maybe?
https://webpack.js.org/guides/author-libraries/#final-steps

[2017-04-16 08:41] lazarljubenovic opened #201 "Add better docs and API reference"
I've checked the wiki, read some issues, looked at tests and the source, skimmed the paper, but I still have no idea how to use the **offline extracting** mode. Please note that I'm clueless about music in general and about audio-processing, so nothing is "obvious" or "simple" to me. Trying to catch up with some basics by Googling around.

The wiki mentions `Meyda.extract(feature, signal)` and it

[2017-04-16 23:48] hughrawlinson commented on #201
@lazarljubenovic thanks for this issue! You're totally right, we'd love to have better documentation. The more specific issues and questions we get, the better we're able to make things clear for everyone.

Can you explain what you mean by 'the whole channel data'? Where are you getting your audio from? Please post code snippets if possible.

I think you might benefit from a wrapper library - if I

[2017-04-17 00:34] hughrawlinson commented on #201
Update: I made [a jsbin](https://jsbin.com/fecodo/edit?js,console) that shows what I said above doesn't work.

I'm working on another, bear with me, it'll be tomorrow before I'm finished 😄

[2017-04-17 08:46] tjjjwxzq commented on #195
Awesome @hughrawlinson thanks for the great library :smile:

[2017-04-17 08:46] #195 closed

[2017-04-17 10:41] nevosegal commented on #201
Just to take on what @hughrawlinson mentioned about the power of two issue. Yes, our FFT implementation (like many others) is based on a radix-2 [Cooley-Tukey ](https://en.wikipedia.org/wiki/Cooley%E2%80%93Tukey_FFT_algorithm) algorithm. The radix-2 stands for recursively dividing the the time-domain input into two equal chunks, until we are left with inputs of length 2. This is only possible when

[2017-04-17 12:22] 2xAA opened #203 "Universal Module Definition for dist/web"
Change `'var'` in `webpack.config.js` to `'umd'` to allow CommonJS, AMD and global variable usage of the web dist files.

Check this out here for more explanation:
https://webpack.js.org/guides/author-libraries/#add-librarytarget

This should have been done for 4.0.3, but in my haste I overlooked this, sorry everyone.

[2017-04-17 12:29] nevosegal commented on #203
That's alright, version 4.0.4 rings better anyway 😆

[2017-04-17 12:31] 2xAA commented on #203
It's some sort of omen I think 😛
I'm gonna see if this will enable us to use tree shaking again or not as well

[2017-04-17 13:20] 2xAA commented on #203
Alright, this can be done 🎉
CommonJS users will have to use `require('meyda').default` however as CommonJS and ES6 aren't directly compatible. Babel 5 "polyfilled" this feature and Babel 6 correctly removed this, so some slight code changes have been made.

Will make a PR shortly.

[2017-04-17 13:31] hughrawlinson commented on #203
wait, if commonjs users have to require('meyda').default, that's a major version change because it changes the API, no?

[2017-04-17 13:50] 2xAA commented on #203
You're right. I've also come across some inconvenience with script tag users also, they'd have to use `Meyda = Meyda.default;` which is really lame in my opinion.

I can't see how you can support ES5/CommonJS style imports and ES6 at the same time without inconveniencing ES5 users.

Looking at others facing the same issue, it seems to be on webpack's radar and may be solved in webpack 2.5. Issue [

[2017-04-17 14:00] 2xAA commented on #203
RE: the workaround mentioned in the [webpack issue](https://github.com/webpack/webpack/issues/3929) - this does work, commonjs/script tag users do not have to use `.default` and this preserves existing functionality.

The web dist files can now be used with AMD, CommonJS and script tags!

It introduces no breaking changes and tests still run.

[2017-04-17 16:03] hughrawlinson commented on #203
This is closeable right?

[2017-04-17 16:21] 2xAA commented on #203
Indeed!

[2017-04-17 16:21] #203 closed

[2017-04-17 18:08] lazarljubenovic commented on #201
@hughrawlinson

I'm trying to implement basic speech recognition app with MFCC and DTW. Basically, there should be a few (10) pre-recorded samples. They're all under a second long (average is around 600ms). The user is prompted to record a word, and the systems should calculate the best match.

[Here's relevant stuff that I have for now.](http://jsbin.com/qocera/6/edit?js,console)

My first idea w

[2017-04-18 14:03] hughrawlinson opened #207 "Move site into `/docs` directory"
GitHub supports building pages from the 'docs' directory of a master branch. I think we should consider putting the showcase site there so that we're not trying to do two separate version control projects in one repo.

[2017-04-18 14:04] hughrawlinson commented on #199
@2xAA this was resolved with #204 right?

[2017-04-18 14:04] #199 closed

[2017-04-18 17:33] 2xAA commented on #199
Yes it was!

[2017-04-20 09:04] dodds-cc commented on #190
Hey @yarandoo , I wrote the LUFS.js library mentioned above. I'm starting work on implementing this into meyda now, so I'll keep you posted.

[2017-04-20 09:14] nevosegal commented on #190
Awesome, thanks @dodds-cc! Looking forward to it

[2017-04-20 09:27] hughrawlinson commented on #190
Thanks @dodds-cc - let us know if we can help at all!

[2017-04-20 10:05] hughrawlinson commented on #207
Or, now that we have an org, into a separate repo so that we can have meyda.github.io.

[2017-04-20 10:08] 2xAA commented on #207
Yep, this sounds good.

I'd really like to add all/most the features to the example at some point as well to really show off Meyda's capability, that's another issue though.

[2017-04-20 11:51] hughrawlinson commented on #207
This is done, the site is on meyda.github.io served from the meyda/meyda.github.io repo. We can keep the gh-pages branch of this repo around if we want to store history, or someone can take on the project of moving git history from one repo to another.

[2017-04-25 02:42] yarandoo commented on #190
Thanks @dodds-cc!!

[2017-04-25 09:58] nevosegal commented on #207
can we close @hughrawlinson ?

[2017-04-25 10:05] #207 closed

[2017-07-28 22:21] odub commented on #62
+1 to this request – I'd love to use this

[2017-08-14 11:57] odub opened #214 "Overlapping windows"
In meyda, is it possible to specify overlapping windows, eg. by having a hop length smaller than the specified buffer size?

[2017-08-14 12:05] nevosegal commented on #214
Hey @odub, no - it is not currently possible. Originally Meyda was a real-time only library, so it didn't make sense to do that. Now that we support offline extraction as well, we should definitely add this functionality. If you can implement it and create a PR, that would be awesome. If not, I'll add it to the backlog of things waiting for us to implement. 😄

[2017-08-15 16:21] odub commented on #62
Any chance I could pick this up? I've managed to port a LabROSA-style frequency domain to chroma bin filter bank copying structure from the meyda's mfcc code so carrying on to the last few steps looks promising

[2017-08-15 16:23] nevosegal commented on #62
Go for it!

[2017-08-16 09:17] hughrawlinson commented on #62
@odub that would be magnificent, looking forward to your PR!

[2017-08-16 17:04] odub commented on #62
Still plenty to clear up, but I've shared my latest stab at it. :)

[2017-11-07 22:45] hugohil commented on #30
Hi ! Sorry to necrobump this issue, but I was wondering how to use this feature ?

When I simply add `spectralFlux` to my `featureExtractors`,  I get:
`spectralFlux.js:15 Uncaught ReferenceError: signal is not defined`

Any idea ?
Using Meyda `4.0.5` btw

thanks !

[2017-11-30 15:01] jakubfiala opened #218 "Release & document Chroma"
This should happen following the merging of #215 and #216

we need to:

- [x] check if any API-breaking changes were made (probably not)
- [x] update the package version accordingly
- [x] update docs, mainly [this page](https://github.com/meyda/meyda/wiki/audio-features)
- [x] do `npm publish` and a GitHub release
- [ ] celebrate by measuring the chroma of ALL the things 🎉

[2017-11-30 15:02] jakubfiala commented on #218
gonna self-assign this for now but I'd appreciate any help, mainly figuring out what needs to be in the docs @odub @meyda/owners

[2017-12-02 03:51] Amglsox opened #219 "How to use the meyda library?"
Hi, I'm having difficulty using the Meyda library in offline mode because I can not load the audio. I believe it is necessary to convert the .wav audio into a signal. Would you explain how to do this?

[2017-12-02 08:41] jakubfiala commented on #219
Hi @Amglsox, loading the audio is not really part of the library (unless you're using the CLI which does decode WAV files). Are you using Node.js or running the code in a browser?

### In Node.js

It might be best to look at our CLI code, which is in the [`/bin`](https://github.com/meyda/meyda/tree/master/bin) directory. There's a `WavManager` class which loads the audio as a stream, and the `cli.

[2017-12-02 08:41] #219 closed

[2017-12-02 17:44] Amglsox commented on #219
Hello, I understood your answer, I followed the steps of Mozilla, but the current difficulty is that when converting the **ArrayBuffer** to a **Float32Array**, all Array values ​​have **NaN**. Do you know how to solve it?
The code is as follows:
`var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
 audioCtx.decodeAudioData(audioData).then(function(decodedData) {
        myBuff

[2017-12-02 18:11] jakubfiala commented on #219
I suspect the problem will be with the way you create the `Float32Array`, according to the [docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/from) the `from` method only accepts another typed array, rather than a buffer.

Try `var arrayFloat32 = new Float32Array(decodedData);`

[2017-12-02 18:15] jakubfiala commented on #219
Actually, I was wrong there – `decodedData` isn't actually an ArrayBuffer, but an `AudioBuffer`, which is a slightly different object. You can get the F32A from it using [`getChannelData`](https://developer.mozilla.org/en-US/docs/Web/API/AudioBuffer/getChannelData):

[code]

[2017-12-02 18:20] Amglsox commented on #219
A yes, now it worked. From this array, can I use the Meyda library to extract the required features? Or do you have any steps I'm leaping?

[2017-12-02 22:17] jakubfiala commented on #219
so that depends on what the buffer contains. Feature extraction works on the basis of splitting your audio file into frames of equal size, say 2048 samples. So you'd want to use `Meyda.extract` on each individual frame separately.

[2017-12-03 18:40] Amglsox commented on #219
Yes, I did the extraction. Does the Meyda library allow you to choose the amount of MEL coefficients for extraction? I noticed when doing the extraction, it returns a vector with 43 positions and each position of this vector, has a vector with 13 positions. As the example below:

![image](https://user-images.githubusercontent.com/34178609/33528489-4ae567d6-d848-11e7-8baa-79e1be0a6fad.png)

[2017-12-03 18:53] jakubfiala commented on #219
@Amglsox yeah, so the 43 arrays are the 43 frames in your signal, and the 13 are the mel coefficients. you should be able to change the number of coefficients by setting `Meyda.melBands` before you do the feature extraction – I haven't tested with a different band count but I don't see a reason why it shouldn't work :)

[2017-12-03 18:53] #214 closed

[2017-12-03 19:05] #62 closed

[2017-12-03 19:22] jakubfiala commented on #218
### New version number

so it looks like the hop size addition doesn't break API because if not specified, it just quietly falls back to `bufferSize` – if HS===BS then the output should be identical to v4.0.5

The Chroma addition doesn't break API either, of course

I suggest we release this as **meyda@4.1.0**, lmk if you have any objections.

### Docs

I'm going to update the wiki page listing av

[2017-12-03 20:03] odub commented on #218
Hey Jakub,

I'm really excited by this.

I propose this slight tweak to the documentation, to clarify what's meant by tonal audio analysis:
[code]

Happy with the plan!

[2017-12-03 20:06] odub commented on #218
Will https://meyda.github.io get updated, by the way?

[2017-12-03 20:55] jakubfiala commented on #218
that sounds good, will use this!

re: website – you've got an updated version of the demo that you made the gif in the PR with, right? could we perhaps just use that?

[2017-12-03 21:03] odub commented on #218
@jakubfiala Made #220 in case you want it. No worries either way though.

[2017-12-03 21:06] jakubfiala commented on #218
awesome, thanks! it's really cool!

[2017-12-03 21:31] nevosegal commented on #218
Good stuff! 🥇 Yeah, if this doesn't break anything, we should release it as `4.1.0` 👍

[2017-12-04 01:31] Amglsox commented on #219
Is it possible to return only one array of MEL coefficients through some function of the Meyda library? For, in the library that Meyda is based on, LibRosa is possible through the combination of the Numpy library. Is there such a possibility?

[2017-12-04 11:32] jakubfiala commented on #219
@Amglsox not sure exactly what you're trying to achieve, but if you set Meyda's `bufferSize` to, say, 2048, and pass a F32A of length 2048 to `Meyda.extract`, you should get exactly one array of values.

Alternatively, you could take all the frames, and average them to get a final result (if that's what you're after)

[2017-12-04 21:54] jakubfiala commented on #218
damnit, I don't have permission to publish to the meyda org on npm!

@hughrawlinson are you the admin of the org? could you please add me? (or just run npm publish)

[2017-12-04 21:55] jakubfiala commented on #218
I'll make a github release for now at least

[2017-12-04 22:56] nevosegal commented on #218
I think I can do it. I just pulled the latest master, should I run it?

[2017-12-04 22:58] jakubfiala commented on #218
awesome! yeah please do, the npm version + git tag is bumped up already :)

[2017-12-04 23:04] nevosegal commented on #218
I tried publishing and it failed because my `gh-pages` wasn't up to date. I pulled the latest of that branch and ran the command again. Now it tells me that `npm ERR! You cannot publish over the previously published version 4.1.0. : meyda`... That's annoying. Though it looks like `npmjs.com` has version `4.1.0`.. so I'm confused

[2017-12-04 23:05] jakubfiala commented on #218
oh wow, really? that's weird, maybe it worked for me but still threw an error saying i'm not allowed to publish … or is there perhaps a webhook of some sort that auto-publishes github releases?

[2017-12-04 23:05] jakubfiala commented on #218
well, looks like it's published though :D

[2017-12-04 23:06] nevosegal commented on #218
Yeah, I just hope this build isn't broken or something..

[2017-12-04 23:06] jakubfiala commented on #218
hmm well Travis built it just fine, let me just quickly install it from npm and see if it works

[2017-12-04 23:12] jakubfiala commented on #218
ok so it's actually broken, it didn't publish the `dist` directory 😧

[2017-12-04 23:15] jakubfiala commented on #218
did you publish from `master`?

[2017-12-04 23:16] nevosegal commented on #218
yes of course. Doesn't it build `dist` during `npm publish`? why the hell does it publish if it gives me a failed error...?!

[2017-12-04 23:18] jakubfiala commented on #218
it does build, there's a prepublish hook – i really don't understand! i also didn't check if it published when i tried it or only after you did. Could you perhaps try doing `npm version 4.1.1` and publishing again?

[2017-12-04 23:22] jakubfiala commented on #218
wait, I think i know what's going on, I think travis is publishing it automatically

[2017-12-04 23:22] jakubfiala commented on #218
but it doesn't run `npm run build`, even though we specify it in `travis.yml`

[2017-12-04 23:23] nevosegal commented on #218
hmm but npmjs.com says that I was the one who published it, around 15 min ago

[2017-12-04 23:24] nevosegal commented on #218
I'm gonna try again when travis finishes building

[2017-12-04 23:29] nevosegal commented on #218
ok, now I ran `npm install` again,`npm run build`, and pulled the latest of everything. Once #221 finishes I'll merge, pull and try to republish

[2017-12-04 23:31] nevosegal commented on #218
Alright, that worked 👍 💯

[2017-12-04 23:31] jakubfiala commented on #218
ok sweet

[2017-12-04 23:31] jakubfiala commented on #218
amazing!

[2017-12-04 23:34] jakubfiala commented on #218
ok, weirdly, if I npm install meyda and do `ls node_modules/meyda`, there's still no `/dist`, and I can't require the module

[2017-12-04 23:35] jakubfiala commented on #218
could it be something to do with what's described in this file? https://github.com/meyda/meyda/blob/master/.npmignore

`/dist` is indeed in gitignore, so maybe npm is ignoring it now?

[2017-12-05 10:32] odub commented on #218
This seems suspicious:
https://travis-ci.org/meyda/meyda/jobs/311589053#L1926

[2017-12-05 10:34] jakubfiala commented on #218
ah, good spot @odub
are we seriously not listing gulp in devdependencies?
how did this package ever have a successful build? :D

[2017-12-05 10:36] jakubfiala commented on #218
oh no, we are listing it, but Travis isn't installing it for some reason

[2017-12-05 10:36] 2xAA commented on #218
No, it's there 🤔
https://github.com/meyda/meyda/blob/master/package.json#L59

[2017-12-05 10:38] 2xAA opened #222 "Use babel-preset-env over babel-preset-es2015"
Babel recommends to use `babel-preset-env` instead of `babel-preset-es2015`.

[2017-12-05 10:42] jakubfiala commented on #218
ok so I think what's happening is that Travis runs `npm run default` as the `script`, and as part of that also does `npm install`, but then it moves node_modules into the cache, and starts running the `deploy` job, which is separate and only runs `npm run build`, at which point gulp is no longer there.

I think what needs to happen is either we restore the dependency cache before `deploy`, or run

[2017-12-05 10:45] 2xAA commented on #218
That's confusing behaviour. If you don't get on to #222, I'll look into that soon.

[2017-12-05 10:47] jakubfiala commented on #218
Yeah, I think the travis config could do with a cleanup – I really like the way CircleCI 2.0 does workflows, where you specify individual jobs and can move the cached files between them easily.

What we've got is slightly strange. I also think we don't really need a deploy step, we should really be deploying manually to make sure things don't get released inadvertently.

[2017-12-05 10:48] odub commented on #218
I wonder if the current problem could relate to the fragile-looking explicit paths in your npm scripts like this: https://github.com/meyda/meyda/blob/master/package.json#L14

It seems unnecessary to be explicit about the exact path, when you can just say `gulp build` or whatever and npm can handle it. Possibly this could mean that when the cache step happens on travis the cli tool gets lost. Maybe

[2017-12-05 10:54] jakubfiala commented on #218
@odub yeah that could well be it – I think I'll just get rid of the deploy step altogether to make things simpler

[2017-12-05 14:41] jakubfiala commented on #222
this is fixed in v4.1.2 (#223)

[2017-12-05 14:41] #222 closed

[2017-12-05 14:43] jakubfiala commented on #218
@nevosegal I think I've fixed the CI stuff and bumped the version to 4.1.2 on master, any chance you could try `npm publish` again?

[2017-12-05 14:57] nevosegal commented on #218
Published successfully

[2017-12-05 15:00] jakubfiala commented on #218
well, the problem persists. The dist directory still doesn't appear. I really don't understand what's going on. We're always publishing locally, so how come the `/dist` directory isn't being picked up?

[2017-12-06 17:20] odub commented on #218
Discovered today that you can run `npm pack` if you want to do a dry run of a publish

[2017-12-06 17:27] odub commented on #218
Also this field might help: https://docs.npmjs.com/files/package.json#files

Totally weird that it worked previously but not any more :/

[2017-12-09 00:25] Amglsox commented on #219
We were able to perform such a procedure. We are having trouble getting a quantity of MFCC, we can not extract 40 coefficients, even by placing `Meyda.melBands = 40` before the` Meyda.Extract`. Do you have something suggestion?

[2017-12-17 19:58] Amglsox opened #224 "Allow returning more than 13 Mel coefficients"
I'm having trouble extracting 40 MEL coefficients. I configured it before doing the extraction and also to each frame that is extracted but without success, always returning 13. Does anyone have a solution to this? Here is the code:
[code]

[2017-12-21 21:17] hugohil opened #225 "Impossible to install meyda 4.1.x"
Hello,

I tried to install the latest versions of meyda (`4.1.0`,  `4.1.1` and `4.1.2`) but I get a `Cannot find module 'meyda'` error.
When I take a look inside the installed `node_modules/meyda`, I see it has no `dist/` folder, so I guess its a build/deploy issue.

`4.0.5` works fine though.

Cheers :)

[2017-12-22 10:06] jakubfiala commented on #225
@hugohil thanks for flagging this up, it is indeed a known deployment issue and we should have fixed it a while ago, we were all a bit too busy. I'll see if I can look at it today, it seems it's something to do with the way npm handles `.npmignore` since npm v5

[2017-12-22 10:13] hugohil commented on #225
Great :) I'll let you close the issue then

[2017-12-22 10:19] jakubfiala commented on #218
hmm so I just tried running `npm pack` and `/dist` is there! wtf?!
doesn't help that I still don't have the perms to publish to npm :/

@meyda/owners could anyone who has the perms try to fix this or give me the perms? Make sure you have the latest npm, I was also gonna try to remove `/dist` from gitignore and see if that fixes the issue

[2017-12-29 09:15] odub commented on #218
+1 and @nevosegal I'd be curious to hear what npm version you're using.

[2018-01-01 15:40] erezsh commented on #196
I'm still getting this error through the client. Here's what I did:

    $ sudo npm install -g meyda
    $ meyda a b

    module.js:557
        throw err;
        ^

    Error: Cannot find module '../dist/node/main.js'
        at Function.Module._resolveFilename (module.js:555:15)
        at Function.Module._load (module.js:482:25)
        at Module.require (module.js:604:17)
        at require (i

[2018-01-01 21:08] jakubfiala commented on #196
@erezsh this is actually related to #225 (a npm deployment issue) and I'd really like to fix it but I don't currently have permissions for the meyda npm account. paging @meyda/owners in case anyone has 10 min to look into it?

[2018-01-02 10:23] hughrawlinson commented on #196
@jakubfiala gave you permission now, not sure why you didn't have it before. Sorry! I think maybe you didn't have an npm account at the time? Not sure.

[2018-01-02 10:27] odub commented on #218
@jakubfiala: Apparently @hughrawlinson just fixed you up with the relevant permissions ✨ ✨

[2018-01-02 10:29] jakubfiala commented on #218
yup, i'm on it

[2018-01-02 10:32] jakubfiala commented on #196
thanks @hughrawlinson! hmm weird, i definitely did have an npm account

[2018-01-02 11:00] jakubfiala commented on #196
@erezsh @hughrawlinson this should now be fixed and published as `4.1.3` 🎉

The issue was that the 'empty npmignore' trick didn't work, i.e. npm was falling back to gitignore when publishing, but not when running `npm pack`. We obviously want to gitignore `/dist` but we don't want to npmignore it, so I had to add `!dist` to npmignore, which fixed the issue.

Sorry about this period of inconvenienc

[2018-01-02 11:00] jakubfiala commented on #225
@hugohil this should now be fixed and published as `4.1.3` 🎉

The issue was that the 'empty npmignore' trick didn't work, i.e. npm was falling back to gitignore when publishing, but not when running `npm pack`. We obviously want to gitignore `/dist` but we don't want to npmignore it, so I had to add `!dist` to npmignore, which fixed the issue.

Sorry about this period of inconvenience and hope you

[2018-01-02 11:00] #225 closed

[2018-01-02 11:02] jakubfiala commented on #218
@odub @nevosegal @2xAA @hughrawlinson this should now be fixed and published as `4.1.3` 🎉

The issue was that the 'empty npmignore' trick didn't work, i.e. npm was falling back to gitignore when publishing, but not when running `npm pack`. We obviously want to gitignore `/dist` but we don't want to npmignore it, so I had to add `!dist` to npmignore, which fixed the issue.

I will also close this i

[2018-01-02 11:02] #218 closed

[2018-01-02 11:05] jakubfiala commented on #224
@nevosegal is there any reason why 40 mel coeffs wouldn't work? are we capping it at 13 at any point?

[2018-01-02 11:31] odub commented on #225
Huge appreciation @jakubfiala

[2018-01-02 12:22] nevosegal commented on #225
Thanks @jakubfiala

On 2 Jan 2018, 13:31 +0200, Oscar Dub <notifications@github.com>, wrote:

[2018-01-02 13:14] hughrawlinson commented on #225
Great stuff @jakubfiala, thanks so much for sorting it, sorry I wasn't sufficiently available to help!

[2018-01-15 20:10] Amglsox opened #227 "Error extracting chroma"
Hi, I'm having trouble extracting the Chroma feature.
Here is the code I am trying to extract.

[code]

And here is having this error, saying that this is not a function.
[code]

Do you know how I can get around this?
Tks.

[2018-01-15 20:34] odub commented on #227
Hey, just as a quick sanity check, what version are you using?

[2018-01-15 20:37] odub commented on #227
Also, as diagnostic point, does the same code work for other features? Say `mfcc`?

[2018-01-16 09:29] 2xAA commented on #227
_(edited OP's post to correctly format the code)_

[2018-01-16 19:10] Amglsox commented on #227
@odub The version I do not know to tell you. But as for MFCC extraction, it's working perfectly!

[2018-01-16 19:14] Amglsox commented on #227
It's settled. It had an old version.

[2018-01-16 19:14] #227 closed

[2018-01-16 22:22] Amglsox commented on #224
up

[2018-01-17 09:50] Amglsox commented on #224
Is there anything I can do to return all these coefficients?

[2018-01-17 09:51] jakubfiala commented on #224
@nevosegal @Amglsox looks like this would be a good thing to do, I'm going to turn this issue into 'Allow returning more than 13 Mel coefficients'.

@Amglsox if you have time, it would be awesome if you could submit a PR making this change – I imagine it'll be a pretty simple change. If you can't, we'll hopefully look into it soon.

[2018-01-17 09:53] nevosegal commented on #224
Yes @jakubfiala and @Amglsox it's easy. You need to change this line:
https://github.com/meyda/meyda/blob/master/src/extractors/mfcc.js#L41
to remove the slice. If you do make a PR just make sure you also fix the test as well. Thanks!

[2018-01-31 16:38] alperakgun commented on #224
Hi Jakub, is anyone doing a PR for this?

[2018-02-02 16:33] alperakgun opened #228 "Question: iOS 11.x - does streaming work on iOS Safari 11.x and later?"

[2018-02-02 16:38] 2xAA commented on #228
This is the current status of WebAudio: https://caniuse.com/#feat=audio-api

If you could give us some more info into your question as to how this pertains to meyda specifically, maybe we can be of more help.

[2018-02-02 20:19] alperakgun commented on #228
I'm trying to extract mfcc features from iOS stream source. It works on in most browsers except iOS  Safari latest 11.x  I suspect the context, stream source from ios doesn't go into meyda.  Any examples anywhere I can benefit from?

[code]

PS:  live [mfcc](https://www.englishinterstellar.com/mey/mey.html) example with this [javascript](https://www.englishinterstellar.com/mey/mey.js?a8) code.

[2018-02-03 16:18] 2xAA commented on #228
Thanks for that @alperakgun :)

Unfortunately I don't have an iOS device to test with.
But a little bit of searching suggests you'll need to create the `webkitAudioContext` as a direct user input action ([source](https://stackoverflow.com/questions/46249361/cant-get-web-audio-api-to-work-with-ios-11-safari)).

[2018-02-06 11:23] alperakgun commented on #228
Thanks. the issue is solved. direct user input action was needed and also I needed to use a createScriptProcessor.

[2018-02-06 11:23] #228 closed

[2018-02-08 18:51] hughrawlinson commented on #224
In order to not break anyone's anything, lets leave 13 as the default, and find some way to use a parameter to request more?

[2018-02-09 08:45] alperakgun commented on #224
@hughrawlinson  I think it's the best idea. But who's going to do a PR )

[2018-02-09 09:15] nevosegal commented on #224
I can do it, but probably in a few days.

Sent from my iPhone

[2018-02-13 08:02] alperakgun commented on #224
@nevosegal would be appreciated )

[2018-04-08 12:01] #224 closed

[2018-07-25 22:42] 2xAA opened #232 "windowing stacks if set as default"
If meyda is initialised with `windowingFunction` set to anything other than 'rect', the `Meyda.windowing` function will _"stack"_ the windowing on top of the current buffer.

Should this be the expected behaviour?

Maybe we should set the internal meyda default ([currently 'hanning'](https://github.com/meyda/meyda/blob/master/src/main.js#L14)) as 'rect', [which is described in the documentation](h

[2018-07-26 08:44] 2xAA opened #233 ".js.org vanity URL"
Meyda could apply for a .js.org subdomain for a ✨ _S I C K_ ✨ URL such as:

`meyda.js.org`

https://github.com/js-org/js.org

[2018-07-31 07:15] hughrawlinson commented on #233
Sounds good to me, go for it! 😄Would volunteer, but am on vacation with @joenash in Japan, doing strictly no computers of any kind!

[2018-07-31 08:27] 2xAA commented on #233
PR #234 (best number after 123) is ready to approve.
Once that's done I'll submit a PR to the js.org CNAME list.

[2018-07-31 09:39] nevosegal commented on #233
@hughrawlinson and yet you are commenting on this thread on a pocket-sized computer! 😄. Thanks @2xAA for this 💯

[2018-07-31 14:07] 2xAA commented on #233
No problem!

We're live 😄

https://meyda.js.org/

[2018-07-31 14:07] #233 closed

[2018-08-12 20:14] RichardJECooke opened #235 "Updates to getting started documentation"
Trying this library for the first time using https://github.com/meyda/meyda/wiki/Getting-Started.

It's a bit confusing. You give the code upside down so I tried to put it in order like this:

[code]

1. Where do I find AudioContext and Audio?  They aren't defined
2. What type of function is start? Is it a promise (hopefully)? If not, then how does stop work?

Thanks!

[2018-08-13 08:12] hughrawlinson commented on #235
Hi @RichardJECooke!

I agree, this is a bit confusing.

1. [AudioContext](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext) and [Audio](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio) are part of the browser's inbuilt APIs. `AudioContext` is part of the Web Audio API, and `Audio` is the constructor for a new HTML5 audio element. We should clarify in the guide that thi

[2018-08-13 08:12] #235 closed

[2018-08-13 10:46] RichardJECooke commented on #235
Ohhh, thanks. I see now the node web-audio-api is both incomplete and abandoned.  I'll try the browser instead.

Do you have any basic sample code to show this library works though?  Just like opening a file and displaying the mp3's features?  That's really what should be in the 'getting started' page. Otherwise we're all just fiddling in the dark trying to use this thing.

I see there's a demo li

[2018-08-13 11:41] hughrawlinson commented on #235
[Here's the demo running](https://meyda.js.org/), and the source for the demo is available [here](https://github.com/meyda/meyda/tree/gh-pages). I'll look at updating the link. Thanks for the feedback! 😄

[2018-08-13 14:03] RichardJECooke commented on #235
Thanks. I got my code in the previous comment extracted from your `getting started` page to build and run.

(I had to change `analyser.start(features)` to `analyser.start()` because `features` is mentioned in the docs but never defined. Did you mean `options`? You define that. Or is my way correct?)

But anyway it returns an rms of 0 whether or not the track is playing:
![untitled](https://user-im

[2018-08-14 09:13] hughrawlinson commented on #235
Hi Richard,

I agree this should be much clearer. I'll clarify things here and go back to the docs to update them.

`start` accepts an argument called `features` that can override the `features` defined in `options`. `features` should be a list of the audio features that you want Meyda to extract, for example `var features = ['rms', 'spectralCentroid'];`. It's so that you can stop and start extrac

[2018-08-14 13:41] RichardJECooke commented on #235
Thanks, I'll take a look at these ideas.
My code is here: https://bitbucket.org/rjeapps/graphic_score_maker/src/master/, I'm basically trying to create graphic scores from songs.

So eventually Meyda -> numbers -> drawing library -> .bmp.

[2018-08-14 16:53] 2xAA commented on #235
Hey @RichardJECooke - here's a JSBin based off of your code in the OP.

https://jsbin.com/nanobiw/edit?js,output

Hope this helps you out 😄

[2018-08-19 15:23] RichardJECooke opened #236 "Fix spectralFlux throwing an error"
Trying to extract spectralFlux gives the following error:

Uncaught TypeError
    at Object.r.a (src.3679338c.js:541)
    at Object.extract (src.3679338c.js:334)
    at src.3679338c.js:633
    at Array.forEach (<anonymous>)
    at ScriptProcessorNode._m.spn.onaudioprocess (src.3679338c.js:632)
r.a @ src.3679338c.js:541
extract @ src.3679338c.js:334
(anonymous) @ src.3679338c.js:633
_m.spn.onaudiop

[2018-08-19 15:24] RichardJECooke opened #237 "Feature request: Add panning (-1 to 1) features"

[2018-08-19 15:38] RichardJECooke opened #238 "What are the min, max, and units of each feature?"
I can't see these details in https://github.com/meyda/meyda/wiki/Audio-Features, nor can I see them on Yaafe (http://yaafe.sourceforge.net/manual/quickstart.html#list-available-features-and-output-formats), where I read Meyda comes from.

So for instance, in this output:
[code]

- Is loudness from 0 to 150 and the units are dBFS?
- Is zcr in Hz and starts at 0?
- Is spectralCentroid in Hz? That se

[2018-08-21 16:16] RichardJECooke opened #239 "Update getting started document to give units of frames"
On this page: https://github.com/meyda/meyda/wiki/Getting-Started

What are frames (e.g. 256) in?  Number of samples (i.e. related to 44.1khz and changing with the songs' samples rates) or in milliseconds, i.e. fixed.

[2018-08-21 16:41] odub commented on #239
The time unit is samples, yes. I'd assume that frames is used because the
audio could be stereo/multi-channel (although actually I've never looked
into how meyda handles this…)

On Tue, 21 Aug 2018 at 12:16 RichardJECooke <notifications@github.com>
wrote:

[2018-08-21 16:43] odub commented on #238
I can only speak for chroma which is normalized 0–1 and the starts from C.

[2018-08-21 16:44] RichardJECooke commented on #239
Thanks. But please don't close update to docs requests without updating the docs. My question is one that lots of people will have if they try to use the library. And then they'll log a duplicate issue with the same question

[2018-08-21 16:58] odub commented on #239
Updated, thanks for speaking up.

Btw, what I said above about frames is misleading, sorry – feeling doubly bad. Frames seem to be used to mean what's sometimes also referred to as "windows". Groups of n samples that the analysis methods produce an output value for. Does that make sense?

[2018-08-21 17:11] RichardJECooke commented on #239
I understand frames (like a sliding window is stock market analysis), I just didn't know if they were in ms or samples.

So I found for a 192kbps mp3 that is 225 seconds with a bufferSize of 8192 Meyda returns 684 features.

684 features / 225 seconds = 3.04 features per second.
3.04 features * 8192 samples (allegedly) = 24 904 samples per second

Hopefully that corresponds to what you said.

[2018-08-21 17:32] nevosegal commented on #238
Hi @RichardJECooke 👋,

* `loudness` is dBFS and the "maximum level" is 0.
* `ZCR` is in Hz and starts in 0
* `spectralCentroid` is index of the FFT bin, therefore not in Hz. An FFT of size 512 with sampling rate of 44100 will have bins of size ~86Hz. Therefore `spectralCentroid` of 29 will be ~2500Hz.
* `spectralFlantness` is 0.0 to 1.0, where 0.0 is not flat and 1.0 is very flat.

I will have to

[2018-08-21 17:33] nevosegal commented on #238
Thanks for the feedback about the docs as well, I will add this info there.

[2018-08-21 17:45] nevosegal commented on #239
The frames indeed represent the number of samples, and not milliseconds. Thanks @odub for clarifying that.

The result from your calculation feels odd, but it's hard to tell if there's a problem, given the information you provided. The bit rate is computed as a product of the sample rate and the bit depth, so without knowing what these are it'll be hard to tell if the sample rate you calculated is

[2018-08-21 17:49] nevosegal commented on #237
Can you explain what you mean? Apply panning to a stereo audio file and then extract features from that?

[2018-08-21 17:51] nevosegal commented on #232
The windowing function should apply a pointwise multiplication with the current audio buffer. Is that what you mean by "stack"?

[2018-08-21 17:53] RichardJECooke commented on #237
So for a mono audio file you'll get back:

[code]

and for a stereo audio file you'll get back

[code]

[2018-08-22 08:59] nevosegal commented on #237
Ah I see, thanks for the suggestion! How do you imagine this working for files that have multiple sources (i.e. drums, guitar etc.)?

[2018-08-22 21:07] RichardJECooke commented on #237
I'd think you treat it the same as any other feature. Ignore the instrumental source and and just look at the waveform - the rms in the left channel compared to the right.

[2018-08-22 21:51] RichardJECooke commented on #239
I'm sure it's ok. But is there a way to do beat detection in Meyda? That's really what I was trying to figure out with the samples. I'm trying to use Meyda to generate charts (graphs) of a song to kinda make a graphic score as an experiment. So what I really need is to get feature extraction to happen on each beat, or half beat, so it lines up with what's happening in the song.

If I had beat dete

[2018-08-23 10:49] 2xAA commented on #237
How does this work for multi channel sources though?

Say I had an OGG file with 3 or more channels - a value for panning wouldn't work.

Something like the chroma features's output would make more sense I think.

[2018-08-24 16:58] hughrawlinson commented on #237
That would just be some loudness metric on each channel, which you can do at the moment by splitting the signal and instantiating multiple meydas. We could start working on supporting multichannel inputs to meyda, but I'm not sure that would have much value (because you could instantiate multiple meydas) compared to work on new features or improving our docs. I don't feel strongly about that thoug

[2018-08-27 19:14] RichardJECooke commented on #235
Just wanted to say thanks to @hughrawlinson and @2xAA for your help with this.
I finished my prototype for an automated graphic score generator, thought you might be interested to see: http://graphicscore.richardcooke.info/

I realise now that it's an impossible idea. Wave analysis just can't do what a human can do yet.

[2018-08-27 20:29] hughrawlinson commented on #235
@RichardJECooke happy to help!

That sounds like a fun challenge to me 😄 Maybe you could explain more about what you were hoping to achieve, and share some hand drawings, and we could point you in the right direction? It's quite possible that Meyda just doesn't support what you need at the moment, but it's also quite possible that we can identify what you might need and implement it. I'm reasonabl

[2018-09-15 21:10] hughrawlinson commented on #232
@2xAA I'm also not clear what you mean by stack. It _should_ be doing pointwise multiplication with the audio buffer so that you end up with a nice smooth ease in and out to maximum volume at the centre of the buffer. Are you expecting it to do something else?

[2018-09-15 21:13] hughrawlinson commented on #190
Hey @dodds-cc - any luck?

I did have a look into this once, the difficulty I encountered was that LUFS depends on being able to look back quite far in the audio signal, which means we'd need to store the signal at full fidelity for quite some time before it can get garbage collected or deleted, which is quite a burden on memory. At the moment our architecture lets users call any extractor at any

[2018-09-16 20:01] 2xAA commented on #232
Sorry for the confusion, hopefully this explains it better.

My process was as follows:

1. Create new Meyda instance with default options
2. Attempt to apply windowing to a frame using `Meyda.windowing`
3. Realise that even though I hadn't set any windowing in the options, my "rect" window was "hanning"

To me, this is confusing as the documentation says "rect" is no windowing, yet when rect was

[2018-09-16 20:27] hughrawlinson commented on #232
Would love a code example if you have it lying around already - no worries if not.

This would be a major bump. I'm not opposed, but I'd also like to get some other breaking changes in. Some of the API is a bit quirky, like setting values on the object returned from a package import. I'd like to do a bit of an API audit to see if we can fix this and other things at the same time. Maybe we can star

[2018-09-23 11:48] hughrawlinson opened #252 "Guide for writing a more fully featured audio visualiser with Meyda"
This would be a useful guide for Meyda users, given how big a use case visualisation is.

[2018-09-23 11:50] hughrawlinson commented on #237
We're working on per-channel extraction in #246

[2018-09-23 11:53] hughrawlinson opened #253 "Guide for how to write a feature extractor"
This would make it easier for external developers to contribute feature to Meyda.

[2018-09-23 11:53] hughrawlinson opened #254 "Add images of projects to the showcase page"
This would make the showcase more inviting 😄

[2018-09-23 11:54] hughrawlinson opened #255 "Guide: how (and why) to do feature smoothing"
Could make it easier for people who don't know about signal processing to use Meyda, and to handle jumpy signals.

[2018-09-23 11:54] hughrawlinson opened #256 "Better documentation on Meyda's top level parameters"
(buffer size, hop size, etc) and how to choose the right one for your use case (assuming you're unfamiliar with signal processing)

[2018-09-23 12:38] #201 closed

[2018-09-23 12:43] hughrawlinson commented on #235
Hey, thanks so much for the feedback @RichardJECooke! We've worked hard to improve the docs recently, and would really appreciate feedback if you have any. [Here's the link](https://meyda.js.org/getting-started) to the new Getting Started documentation.

[2018-09-23 12:45] hughrawlinson commented on #201
Hey @lazarljubenovic - we've just pushed a big update to our documentation - it's available [here](https://meyda.js.org/). Thanks for pushing us to improve! We'd really appreciate if you took a look at it and let us know if anything is still unclear.

[2018-09-23 12:46] hughrawlinson commented on #238
Hey @RichardJECooke - thanks again for your feedback. We've just now pushed a big update to our documentation, including our Audio Features docs. They're available [here](https://meyda.js.org/audio-features). Would really appreciate any feedback you have on them!

[2018-09-23 12:46] #238 closed

[2018-09-23 12:48] hughrawlinson commented on #239
Hey @RichardJECooke - as I mentioned in other comments, we've just made a big push to improve our documentation. The new docs are available [here](https://meyda.js.org/). Would appreciate any comments you have!

[2018-09-23 12:48] #239 closed

[2018-09-23 12:54] hughrawlinson opened #257 "Setting values on an imported object to change its behaviour is a bit weird"
In Meyda, we can set the sample rate as follows

[code]

To me, at the moment, this seems like a bit of a weird API. I think I would prefer to set this in a no-side-effects manner. Would love some thoughts on this!

[2018-09-23 12:56] hughrawlinson opened #258 "Major Version Bump"
In several ongoing discussions, it looks like there are some major advantages to breaking the Meyda API, which would mean a major version bump. Here's a list I've got:

- Multiple simultaneous channels of audio feature extraction (see #246)
- Splitting feature extractor versions from Meyda API versions to avoid bugfixes in feature extractors meaning major version bumps for Meyda (see #250)
- The A

[2018-09-23 12:58] hughrawlinson commented on #236
@RichardJECooke could you please provide an implementation that reproduces this error? It looks like you're using MeydaAnalyzer, so you shouldn't have to manage the previousSignal yourself. Does this error happen once and then spectralFlux works fine, or does this error keep happening for every buffer?

[2018-09-23 12:59] hughrawlinson opened #259 "Display MFCCs in docs visualizer"
It'd be great to display them in the same manner as Chroma are displayed, right underneath.

[2018-09-23 13:22] nevosegal opened #261 "Separate FFT size from buffer size"
At the moment, the user can't set an FFT size that is different from the input buffer size. We should add this option, and default the FFT size value to be equal to the buffer size.

[2018-09-23 13:42] hughrawlinson opened #262 "Remove Gulp dependency"
When we first started using webpack, we thought of it as a replacement to browserify, rather than as a replacement to gulp. We should do what gulp does in webpack, now that it's a defacto replacement for gulp.

[2018-09-23 14:12] hughrawlinson opened #264 "Blackman Window broken for odd length buffers"
Here's a [demo]. Not exactly a huge problem in Meyda because we enforce a power of 2 buffer size. Still something we should fix.

[demo]: https://runkit.com/raw/windowing-functions-in-meyda

[2018-09-23 14:32] #114 closed

[2018-09-23 15:01] lazarljubenovic commented on #201
As it usually goes with lazy students like me, I've finished the university assignment and completely forgot about everything :sweat_smile: I'll check it out during the week -- gonna refresh my memory too! :sparkles:

[2018-09-23 17:08] RichardJECooke commented on #236
Here's the code where it doens't work (just add spectralFlux to the constants.js file): https://bitbucket.org/rjeapps/graphic_score_maker/src/master/

If you check it out on Linux or Apple you should just be able to run it with:
[code]

[2018-09-23 17:15] RichardJECooke commented on #235
Wow, those docs look fantastic! Well done.  That'll definitely help new users.

I think now I'm going to try use the WebAudio analyser directly and see how that works. People can do amazing stuff with just that, like creating music videos in three.js: http://www.dennis.video/#

[2018-09-24 08:57] hugohil commented on #258
I really like the idea of splitting the feature extractors into modules 👍

[2018-09-25 16:41] 2xAA commented on #252
I can put together some examples for sure :)

Maybe one for CSS, Canvas and one for WebGL.

Explaining my process of why I'm picking the extractors also.

Could attempt to do a guide similar to https://generativeartistry.com/ if that fits with the docs we've already got.
(haven't looked yet)

If not, I'll put together a lot of JSFiddles or something.

[2018-10-02 14:28] rumschuettel opened #267 "Update for npm"
Hey,

independent of the current discussion of a major version bump, could you publish a recent stable version to npm? There's a lot of bugs in it that's not fixed yet there, but fixed in the repo.

I know one can install from github directly, but then one has to manually run the build script in node_modules, which is ugly (since there's no post install hook for github I presume).

Thanks!

[2018-10-05 09:36] andyhall opened #268 "How to compare features to estimate the similarity of two signals?"
Hi, this is a question about how to apply `meyda`! Hope that's okay.

How might one generally use extracted features to estimate the perceptual difference between two sounds? That is, I'm trying to define an error function that returns a high value when comparing a piano note to a snare drum, a low value when comparing two different snare drums, etc.

Right now I am taking a naive, straightforward

[2018-10-09 12:28] derekpankaew opened #269 "NodeJS Implementation - Incorrect Results"
Hi All,

I'm trying to get Meyda to work in NodeJS, without a web client. My approach is to take a buffer of audio, input it into Meyda, console log the result, then repeat with the next buffer.

Unfortunately, it's giving me results that don't make sense. For example, I deliberately created a .wav file that goes quiet-medium-loud.

The results in NodeJS for RMS have no correlation to volume at al

[2018-10-09 14:49] jakubfiala commented on #269
Hi @derekpankaew – from your code it looks like you're loading the entire WAV file using `readFileSync` and then passing the raw binary data to Meyda. This doesn't work, because `Meyda.extract` operates on buffers of *samples*, rather than raw WAV data – in fact I'm surprised your code didn't throw an error (it probably should, CC @meyda/owners).

A WAV file is slightly more complex than just a li

[2018-10-09 14:49] #269 closed

[2018-10-09 14:56] jakubfiala opened #270 "Meyda.extract should throw if `signal` isn't a Float32Array"
This arose from #269 – currently we're checking if `typeof signal === 'object'`, which could include any object, including a node `Buffer`. It would prevent future confusion if the `extract` method threw when passed an object such that `signal instanceof Float32Array`.

Personally I'd restrict it to F32A as I don't see any value in accepting `Array` – but I might be wrong of course :)

[2018-10-09 15:16] hughrawlinson opened #271 "NodeJS Tutorial should explain how to load signals from disk"
[This doc](https://meyda.js.org/guides/offline-node) explains how to operate on buffers in node, but doesn't give any indication of how to load signals from disk (or elsewhere), and it probably should.

[2018-10-11 08:58] hughrawlinson commented on #270
I can see good reasons for it to not be a Float32Array - perhaps your audio is stored on disk as unsigned 16 bit ints. If Meyda didn't accept those, you'd have to map the signal to F32, which could be an expensive operation. (Relatedly, if we haven't already, we should check how Meyda handles signals that are all above zero, rather than what I had always assumed, that they're centred on 0+dc-offse

[2018-10-12 09:42] jakubfiala commented on #270
@hughrawlinson I get what you mean, but `Number`s in JS are 32 bit floats anyway – and at the moment many of the extractors will actually pull out values from your signal into `Number`s and/or F32Arrays. Take [energy](https://github.com/meyda/meyda/blob/master/src/extractors/energy.js), for example – we're accumulating a value into a standard JS variable, so the samples are in fact converted to fl

[2018-10-31 19:58] Nhatmusic opened #274 "How to configure the number of mfcc coefficients directly in the meyda.analyser?"
Hi, I am a beginner in Javascript, I use 'meyda' to extract the mfcc feature of audio signal and then visualize the data.
I have read the issue #229: User can set number of MFCCs. However, I am looking for a method to not modify the source code of the Meyda module.
Could it be possible to configure the number of mfcc coefficients by adding parameter to the meyda.analyser?

[code]

[2018-11-01 12:45] hughrawlinson commented on #274
Hey @Nhatmusic - I've just made a PR to add the feature that you requested. This issue will be closed when that PR is merged to master.

[2018-11-01 12:49] hughrawlinson commented on #77
@odub Hey, I think this relates to your work on Chroma. Do you think it's possible to reuse some of your chroma code to do constant-q? Would you be interested in taking a look at implementing this feature extractor?

[2018-11-04 14:30] rumschuettel commented on #267
So this turns out to be a showstopper for using meyda in our product; are there any plans for an npm update?

[2018-11-05 05:42] hughrawlinson commented on #267
Hey @rumschuettel - there are! We need to figure out whether what's currently in master should be a major, minor, or patch version bump. If it's a patch or minor, we'll publish a new release immediately. If it's a major bump, we'll make sure that we get all the breaking changes we're planning on together and release them in one bump.

What product are you working on?

[2018-11-23 19:33] kouohhashi opened #277 "How to get same MFCC with python_speech_features.mfcc()"
Hi, I'm new to audio processing.
I want to get same mfcc with python_speech_features.mfcc().

Maybe the way I get mfcc from mic is not correct...
But this is how I get mfcc with Meyda.

1. Initialize audio context
[code]
2. start Meyda.analyzer
[code]

And this is how I get mfcc with Python

1. convert webm into wav
[code]

2. get mfcc
[code]

the mfcc from Javascript and mfcc from Python looks qu

[2018-11-24 10:13] mizigro commented on #268
I guess you could simply normalize the signals and compare the MFCC features using [DTW (Dynamic Time Warping)](https://en.wikipedia.org/wiki/Dynamic_time_warping), instead of using all the features. Most features like rms and energy won't even help distinguish two audio signals' perceptual difference to humans.

[2018-11-27 02:06] kouohhashi commented on #277
I tried to compare mfcc data from Meyda.js and python_speech_features.

You can see the difference [here](https://bcnews.sotuu.network/meyda_mfcc/).

This is my Javascript code:
[code]

![js_mfcc](https://user-images.githubusercontent.com/5446294/49053596-96ff1f00-f1a5-11e8-9549-4d8bebcbea10.png)

This is my python code:
[code]

![screen shot 2018-11-26 at 6 02 39 pm](https://user-images.githubuse

[2018-11-29 14:52] nevosegal commented on #277
Hi @kouohhashi,

Thanks for opening this ticket and providing us with detailed examples.

There may be _some_ differences between the implementations, but not to the level you are describing here. I will try to reproduce this over the weekend and will report back.

Note that we also have a [CLI](https://github.com/meyda/meyda/blob/master/docs/guides/offline-cli.md) that you could try and use, whic

[2018-12-01 11:57] sk9331657 commented on #254
@hughrawlinson  Can I claim it ??

[2018-12-01 12:00] hughrawlinson commented on #254
Absolutely! Feel free to make a PR

[2018-12-01 12:10] sk9331657 commented on #254
@hughrawlinson  Does the images need to be added to readme file or somewhere else ??

[2018-12-03 12:11] rumschuettel commented on #267
It's on speech recognition.

I noticed that our bug workaround stopped working. We install meyda currently via

    npm install --save meyda/meyda

which works fine. However, `require("meyda")` gives a package-not-found error. To circumvent this, currently, we do

    cd node_modules/meyda
    NODE_ENV=development npm install
    cd -

which ran the corresponding build script and the package becam

[2018-12-03 17:11] hughrawlinson commented on #267
@rumschuettel have you tried `require('meyda/meyda')`? I think that's the correct way to require it when you install it from GitHub like that.

We'll look into publishing it ASAP. We first need to check what's currently published, the differences, figure out whether it's a major/minor/patch version bump, and see if anything is missing from the release. I'm *super* busy at the moment, maybe @nevose

[2018-12-03 17:19] hughrawlinson commented on #268
Completely okay!

For sound similarity, I would usually pick the audio features I care most about (for example, I might be looking for sounds that have similar brightnesses and noisinesses, but not care about the loudness, so I would pick spectral centroid and spectral flatness). Then, I would represent each sound as a vector of audio features (so `[spectralCentroid, spectralFlatness]`), and then

[2018-12-03 17:20] hughrawlinson commented on #277
@kouohhashi have you considered using Meyda in CLI mode (even calling it from Python) to extract your audio features? That way you have the same feature extraction code running client side and on your server. There are some guides linked to at the bottom of [this page](https://meyda.js.org/getting-started) that might be useful for you.

[2018-12-03 17:44] rumschuettel commented on #267
I've tried that, as well as `require('@meyda/meyda')` -- it doesn't load it. Currently it works after the following commands:

    cd node_modules/meyda
    NODE_ENV=development npm install --ignore-scripts
    node_modules/.bin/gulp buildNode
    cd -

as the `gulp buildWeb`-calls are the ones newly broken. But maybe I'm doing something wrong?

[2018-12-03 18:09] kouohhashi commented on #277
I tried CLI mode too. the mfcc data from CLI mode and browser mode is looks similar even though I think I need to pick different buffer size and other parameters to make intervals same.
But still the mfcc data from Meyda.js is quite different from Python's library.

Since I don't have much experience of audio signal processing, I don't know the mfcc data taken from both Meyda and Python have to be

[2018-12-04 10:47] nevosegal commented on #267
@hughrawlinson @rumschuettel I will look into publishing a new version ASAP.

[2018-12-04 10:50] nevosegal commented on #257
As this is a global parameter in Meyda, this feels right to me. What other ways do you envision doing this?

[2018-12-05 00:57] derekpankaew commented on #268
You might also want to check out this library. They used Shazam's paper to reconstruct the audio fingerprinting algorithm Shazam uses. In other words, you can take "fingerprints" of audio at set intervals, in the form of hashes. You can then compare future hashes to see if you're listening to a clip from the same audio.

It might be different than what you're looking for, but thought I'd share any

[2018-12-06 10:21] nevosegal commented on #267
Hi @rumschuettel,
I just published Meyda v4.2.0 to npm.

Let me know if this works for you.

[2018-12-06 14:05] odub commented on #77
Imagining there could be a fair bit of shared work there, yes! Sounds fun for a rainy day, but I can't say when straight away

[2018-12-12 13:12] rumschuettel commented on #196
Thanks! It can now be require'd right from a standard `npm install meyda`, awesome.

[2018-12-12 13:13] rumschuettel commented on #267
Thanks! It can now be require'd right from a standard `npm install meyda`, awesome.

[2018-12-12 13:13] #267 closed

[2019-01-15 21:05] hughrawlinson commented on #277
@kouohhashi in theory they should be similar, but our implementations may have diverged. Also, in order for the numbers to be exactly the same, you need to make sure that all settings are exactly the same between runs, and that the audio input is read in the same way (including windowing, hop size, etc).

In order to mitigate this problem, you could use averaged features when training your model,

[2019-01-15 21:05] #277 closed

[2019-02-11 23:17] Nhatmusic opened #284 "Change the number of Sample Rate however the number of Meyda feature output did not change"
Hi, It's said that "You can calculate how many sets of audio features Meyda will output per second by dividing the buffer size by the sample rate". However, When I keep the same buffer size but change the number of sample Rate, the number of output feature does not change. It always keeps the (44100/bufferSize)=number of feature.
Could you please consider explaining the problem? and Is there any w

[2019-02-12 16:06] hughrawlinson commented on #284
Hi!

Meyda works by chunking incoming audio into buffers, each of length `bufferSize`. It then extracts audio features from each buffer and returns them. If your buffer size is 512, and your sample rate is 44100, you would have 86.132 buffers per second. Meyda will return the audio features for each buffer it receives when you register a callback. If you want to decrease the number of buffers per

[2019-02-12 16:06] #284 closed

[2019-02-12 17:53] Nhatmusic commented on #284
Thank you so much for the answer in detail. It helps me a lot.

[2019-02-18 09:10] nestarz opened #285 "Use with React Hooks and Tone.js"
Hello,
I'm trying to use both Meyda and Tone.js to work together on a React app. Currently I have Tone.js working and I'm passing the Tone.AudioNode to Meyda, but it doens't work as intended. It is working only if I recreate a MeydaAnalyzer each re-render, but if I only create a MeydaAnalyzer on start, the features are always 0. Do you community have an idea why ?

[code]

[2019-02-18 09:25] jakubfiala commented on #285
Hey @nestarz -- thanks for reaching out! It would be useful to see the rest of your audio graph, but I think the first thing to check would be if Meyda is receiving the signal it should receive. It's possible that your Tone.js AudioNode is actually being recreated, but Meyda holds on to the reference to the previous one, which would now likely be outputting zeroes.

If you open your app in Firefox

[2019-02-18 09:32] nestarz commented on #285
Thanks very much @jakubfiala I'm going to look at it. Just for more information I modified my code above (I added this line: `analyzer.setSource(audioNode)`so that analyzer get the new audioNode on audioNode modification).

[2019-02-18 09:40] nestarz commented on #285
@jakubfiala here is a CodeSandBox with all my code:

https://codesandbox.io/s/w7kvvqxnrw

[2019-02-18 09:56] jakubfiala opened #286 "AudioWorklet & ScriptProcessor deprecation"
I have recently done some contract work using AW to extract real-time features and it's been surprisingly pleasant to implement it. I think we could do an internal refactor to use AW instead of ScriptProcessor if available, giving us out-of-the-box compatibility for when browsers start dropping SP in the future.

This would involve:

- [ ] building a new webpack target (with `target: 'webworker'`)

[2019-02-18 09:59] nestarz commented on #285
Here is the graph I have for now, I don't know why but after few seconds it disappear and I don't see any signal flowing.

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/5360876/52942912-3b8b9a00-336c-11e9-9ee8-bea8de4de194.png">

[2019-02-18 10:09] jakubfiala commented on #285
@nestarz ah interesting! does the graph disappear even when you're not re-rendering? You can also check if signal is flowing into Meyda by adding a normal Web Audio AnalyzerNode before it and getting the time domain data from it.

Also, is the output of your hook (the `features` variable) being updated correctly? From what I can tell it will only be updated when the component re-renders, which mig

[2019-02-18 10:16] nestarz commented on #285
When I do
`const currFeatures = getFeatures();`
It is the updated features that is retrieved. I use `useGetSet` as I can't set a new callback to my MeydaAnalyzer instance so I needed a way to access the previous features computed and set in my component.

[2019-02-18 10:20] jakubfiala commented on #285
ah yes, but that's `currFeatures` - the variable that's returned by the hook is `features`. Might not be an issue, just wondering.

[2019-02-18 10:23] nestarz commented on #285
You are right, it might be an issue, but in useGetSet implementation a re-render is queued after setting a new value using the get function, so I think it is ok, but I will watch it, thanks.

[2019-02-18 12:57] nestarz commented on #285
Ok I made it worked, I dont really know what was missing but I suspect it was because of unwanted re-rendering, you were right ! Thanks

I cleaned up my code so if anyone want to hack, reuse it, you can find all here: https://codesandbox.io/s/w7kvvqxnrw

Thanks a lot @jakubfiala for this and your work !

[2019-02-18 13:04] #285 closed

[2019-02-18 13:59] 2xAA commented on #286
Wow, nice one Jakub!

I quite like option 1 as it leaves Meyda rather pluggable(/extensible?).
In a bundle situation, importing another file to add to Meyda or to set up as a Worklet shouldn't be too bad.

Do you think maybe moving this to Meyda 5 would be a good idea?

Would be nice to do something like

[code]
and Meyda just figures out what it should do.

Can you create Worklets from blobs as y

[2019-02-18 16:46] hughrawlinson commented on #286
I also like option 1. I did some work on this at one point but I don't know where it is, I think I may have deleted it. We should be able to create a worklet from a blob, I think that worked from me. Tagging @JamesMilnerUK who I've talked to about this before - James what was the name of that library you used for creating workers on the fly?

[2019-02-19 10:24] jakubfiala commented on #286
@2xAA @hughrawlinson thanks, I do like option 1 too - it is just one more file to load after all.

I wrote a naive test for making an AW from a Blob, but it seems to throw a DOMException in Chromium 72 -- see here https://codepen.io/jakubfiala/pen/gqqZeR
There might be a difference between creating Workers and Worklets (worklets are defined by a separate spec as a subset of workers afaik).
Of cour

[2019-02-28 11:37] chrisguttandin commented on #286
Hi everyone, I came across this issue today.

There is a bug/feature in Chrome which requires the mime type to be set when creating a Worklet from a Blob. If you specify the mime type when constructing the Blob it should work.

[code]

Just an idea: Maybe my [standardized-audio-context](https://github.com/chrisguttandin/standardized-audio-context) package could simplify the migration to AudioWorkl

[2019-02-28 17:15] ildarkarymoff commented on #271
This would be useful for me too. Hope for developer's answer...

[2019-02-28 17:22] jakubfiala commented on #286
@chrisguttandin ooh thanks, this did indeed do the trick!

And yeah, SAC would be really nice to use here, as we could delegate the compatibility fixes to a separate package :) we should definitely consider it.

[2019-02-28 18:48] hughrawlinson commented on #271
@ildarkarymoff here's a package that does it: https://github.com/andreasgal/node-wav

I just need to find the time to actually put it in the tutorial.

[2019-02-28 19:07] ildarkarymoff commented on #271
@hughrawlinson So, when I'm trying to use it, i am getting the error:
`Error: Meyda: Buffer size must be a power of 2, e.g. 64 or 512`

Source code:
[code]
What I'm doing wrong?

[2019-02-28 22:07] hughrawlinson commented on #271
@ildarkarymoff you have to pass meyda a buffer whose length is a power of two. You can do this in a variety of ways, but easiest is to grab the first 512, 1024, or 2048 samples from your channel data. [Here](https://github.com/meyda/meyda/issues/284#issuecomment-462820193) is some more information about that.

[2019-03-01 08:53] ildarkarymoff commented on #271
@hughrawlinson it worked for me, thank you so much!

[2019-03-18 02:57] rob-richards opened #288 "Loudness results greater than 1"
Hello,

I have a general question about the returned values from loudness. I used a commercially released song, Counting Stars by OneRepublic to analyze the loudness of each band and I was getting results greater than 1. Example:
[code]

I read in the docs the range is supposed to be normalized, `0.0-1.0`. If that is true, why am I getting results larger than that per band? Thanks!

[2019-03-21 18:17] hughrawlinson commented on #288
Any ideas @nevosegal @jakubfiala?

[2019-04-01 09:31] jakubfiala commented on #288
@rob-richards @hughrawlinson sorry I only got round to this now - I'm afraid the docs, in this case, are incorrect. We use a normalised spectrum to calculate the individual bark band energies, but the energies are not normalised afterwards. We simply calculate the integral over the given bark band, and raise it to the power of 0.23 - can't remember exactly why but I suspect it amounts to some sort

[2019-04-12 15:09] rob-richards commented on #288
@jakubfiala Gotcha. I think to have a more accurate retrieval would be better than a simplified one with a loss of information, so I would recommend that we don't normalize the bark engines. I'm ok if the specific bands and the total goes beyond `1.0`. I was just a little confused when I read in the docs that they weren't supposed to.

[2019-05-07 22:06] MatheusTraldi opened #290 "Mutiple Meyda analyzers not possible."
Ok, I'm using Meyda in a Electron project. To handle everything related to audio in this project I implemented an `Audio()` class. Summarizing, I get the audio track, splitt it in left and right channels and merge it again. For each channel, there will be a Meyda analyzer extracting features. A simplified code, that shows only meyda sending data to a spectrogram graph object, would be:

[code]

As

[2019-05-10 16:32] hughrawlinson commented on #290
Hmm... I don't see anything that would cause the behaviour you're describing, this seems like a bug in the library. Is your code deployed anywhere? I would like to check it out and see if I can figure the issue out.

[2019-05-11 14:00] MatheusTraldi commented on #290
Hello Hugh. I got this answer on stack overflow:

https://stackoverflow.com/questions/56030976/mutiple-meyda-analyzers-not-possible-library-issue-or-problem-in-my-implementat

The hack pretty works. I don't know if I should consider issue solved or not, as it is a hack.

[2019-05-11 19:20] #259 closed

[2019-05-11 20:22] hughrawlinson commented on #290
Ah, that does seem like a bug on our side. Our script processor nodes should definitely be per meyda instance, not on the library object. We'll look into resolving this in v5.

In addition, we're working on multi-channel extraction per single Meyda instance, so for your use case it might be better to use that (that will also be released in v5). The PR is #246, in case you want to run that code.

I

[2019-05-11 20:25] hughrawlinson commented on #288
I think we should resolve this by:

1. Updating the documentation to give better bounds for the loudness feature extractor
1. Either providing a separate normalizedLoudness feature extractor that calls out to this one, or documenting how people can normalize this feature in their own code. I would lean toward the former.

[2019-05-12 21:50] hughrawlinson commented on #290
I *think* this was just fixed by @hugohil's work I just merged to master. I'm waiting a few days before deploying to npm, but this should be fixed soon! :fireworks:

[2019-05-12 21:51] hughrawlinson opened #298 "Simultaneously run feature extraction in multiple channels"
#246 contains discussion about the API this probably should use.

[2019-05-12 21:54] hughrawlinson commented on #262
So this actually can be done - webpack can do the regular & minified bundles in one configuration, and babel can do the cjs export for node. We don't really need gulp to just run webpack and babel, so I'll make a PR to remove it.

[2019-05-12 22:15] MatheusTraldi commented on #290
Great to know all that, thanks for the commitment. Cheers!

[2019-05-13 01:27] hughrawlinson commented on #262
I did a *lot* of research on this today. Since webpack is focused on websites, rather than libraries, a lot of big libraries are going to rollupjs for bundling. That'll take care of the script tag use case. Then, we can use babel to convert from our ES2015 modules to CommonJS. And I can remove gulp because we don't need it to just call both of rollup and babel.

[2019-05-18 06:48] hughrawlinson opened #300 "MFCC count regression in createMeydaAnalyzer"
[From Slack](https://web-audio.slack.com/archives/C51A03LBS/p1558146955003300)

[2019-05-18 06:56] hughrawlinson commented on #300
So it turns out this wasn't actually a regression. The mentioned tutorial never actually documented the parameter to the analyzer constructor because we never actually released a version of meyda with that change. Last week, I merged it and a fix to the ZCR extractor, before reverting the changes as I thought they were major breaking changes, and put them in the v5 branch. On further inspection th

[2019-05-18 13:27] Fluxionsdx commented on #300
(Josh Ryan from Slack here). Sorry, it wasn't the tutorial, but rather the documentation on Features. From the MFCC description: "Range: An array of values representing the intensity for each Mel band. The default size of the array is 13, but is configureable via numberOfMFCCCoefficients"

[2019-05-18 21:53] hughrawlinson commented on #300
Ah! I think that line in the docs refers to the value [on the Meyda object](https://github.com/meyda/meyda/blob/master/src/main.js#L124) directly, which is used in offline extraction, as opposed to the parameter to the MeydaAnalyzer factory, which hasn't yet been shipped. I think the best way to resolve this is to ship the extra param for the MeydaAnalyzer factory so that this will also be useful

[2019-06-26 20:42] davinanaya commented on #271
hey @ildarkarymoff how did you solve it, can you please shared what did you do, please. i'm having the same problem

[2019-07-01 11:11] jofuelo opened #301 "Compute log Mel-filterbank energy features"
Is it possible to compute log Mel-filterbank energy features like it is provided by the function logfbank in python_speech_features?
https://python-speech-features.readthedocs.io/en/latest/#python_speech_features.base.logfbank

[2019-07-05 22:05] hughrawlinson commented on #301
Hey @jofuelo - thanks for getting in touch.

Meyda's implementation of feature extraction is not completely identical to every other implementation of the same feature extractor for other platforms. There is no central standardization of these features, many are described in academic papers or reference other implementations. We strive for the features to be as compatible with other major implemen

[2019-07-05 22:05] #301 closed

[2019-07-17 13:46] ghellal commented on #277
i have exactly the same issue

[2019-07-18 09:29] ghellal commented on #277
i have exactly the same issue
@kouohhashi i saw your website but it seems that meyda cli and python doesn't work on it. I have exactly the same issue. Meyda.js and python_speech_features give completely different features. Did you manage to find a solution ?

[2019-07-18 09:58] kouohhashi commented on #277
@ghellal
No I haven't.
Probably only someone who know digital signal processing well can solve the problem...

[2019-07-21 09:22] syshen commented on #300
Hi, is there any way to set the numberOfMFCCCoefficients up to 64? I read the code, there is an upper bound limit which is 40. But I need to set it up to 64.

[2019-07-31 09:03] Magurosenbei opened #303 "How to get octave number of MFCC"
Hello,

Can anybody show me how to obtain the octave number of the chords?
Like differentiating between C1 and C2

[2019-08-06 19:05] hughrawlinson commented on #303
Hi, MFCC doesn't represent the octave number of chords. Spectral Chroma gives the intensity of each note, but it folds octaves. At the moment, there isn't a way to extract chord data using Meyda. First, we would need an implementation of the constant q transform, which preserves octaves, then a configurable chord extractor on top of that. It's definitely something we would like, but haven't had ti

[2019-09-03 08:15] miaobin commented on #300
Hi @hughrawlinson, I set the "numberOfMFCCCoefficients" to 26 but still get the result MFCC buffer which  size is 13. Did I understand wrong with this arg?

[2019-09-03 16:40] hughrawlinson commented on #300
@nevosegal hey do you know why there's an upper bound to the number of mfccs, and the mel bank length?

[2019-09-04 08:16] nevosegal commented on #300
There is no real reason that the max number of filters is set to 40. I thought it was standard when I implemented it but I since learned this isn't the case. We can add this functionality but we'll need to re-generate the filter bank when the value is modified.

@miaobin can you post an example? What version of Meyda are you using?

[2019-09-04 08:42] miaobin commented on #300
@nevosegal I am now trying to implement DeepSpeech on browsers. I need to calculate the mfccs with 26 numbers of the input audio to feed the tensorflow model. So I use Meyda by pasting `<script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>` into my HTML. Then I set `"numberOfMFCCCoefficients" : 26`. But I still get the array which length is 13.

[2019-09-04 08:49] miaobin commented on #300
I read the code this morning and found that there is no construction information of "numberOfMFCCCoefficients" in [meyda-wa.js](https://github.com/meyda/meyda/blob/master/src/meyda-wa.js#L28). T tried to add
`this._m.numberOfMFCCCoefficients = options.numberOfMFCCCoefficients || this._m.numberOfMFCCCoefficients || 13;`
into the constructor and it works like the instruction:
`Range: An array of val

[2019-09-26 01:20] fahimsun commented on #277
@kouohhashi I have similar issue. my python_speech_features is not same as meyda. Did you find solution? or any alternate work around?

I am also looking to run speech recognition on browser but mfcc is not same as my trained model.

[2019-09-26 01:41] kouohhashi commented on #277
@ghellal
No I haven't.  Sorry about it...

[2019-10-07 10:28] huwb opened #304 "Amplitude spectrum clamped from below at ~1500hz"
Hello,

My colleague and I are using a meyda analyzer to return an amplitude spectrum and we're stuck on an issue which I haven't been able to figure out the issue.

**Issue**

I'm using meyda to give us the amplitude spectrum from the microphone feed. Putting a range of frequencies through it (using https://www.youtube.com/watch?v=qNf9nzvnd1k), we find that anything below ~1500hz is all bucketed

[2019-10-07 10:48] nevosegal commented on #304
Hi @huwb, thanks for opening this ticket. That's definitely not the intended behaviour so I need to look into it. When you say clamped, do you mean that bins 1 until X return the same value? Or are there less bins than expected? Can you attach an example spectrum? I will download your example soon but it might be quicker if you can attach an example spectrum. Thanks!

[2019-10-07 11:07] huwb commented on #304
Thanks for the response @nevosegal!

In this example the frequency we're feeding in is approx 500hz. The larger values shown in the first dozen or so elements (0.7, 0.6, 0.15) are the biggest values returned. I checked all the other values in the array and they're all 2 orders of magnitude smaller (so in the 0.001 range). We seem to get this behaviour for all frequencies less than around 1500hz.

[2019-10-07 11:36] nevosegal commented on #304
I'm not sure I understand. Won't you expect to see large values around those bins? Each bin in the amplitude spectrum corresponds with a range of frequencies. That range depends on the the FFT size, which in Meyda is equal to the input buffer size (this can be improved). It looks like your buffer size is 1024 samples, and I'm assuming your sampling rate is 44,100Hz. This means that each bin in the

[2019-10-07 12:06] huwb commented on #304
Thanks for that, I think I understand now.

My confusion was coming from later down the line where I'm doing a second bucketing pass of the returned values, and I did not anticipate the distribution of frequencies - the low set of values were all going into one or two buckets (and i was interpreting this as some kind of clamp from below).

Can i confirm one bit - does the FFT size dictate only how

[2019-10-07 12:25] huwb commented on #304
I googled around and it appears that is the case with the bins so disregard my last question. I hadn't realised FFTs worked like that.

Thanks again for your help, super appreciated.

[2019-10-07 12:25] #304 closed

[2019-10-07 13:33] nevosegal commented on #304
No problem, happy to help.

[2019-10-15 07:55] khanguslee opened #305 "Amplitude/Power Spectrum FFT incorrect length"
In the meyda documentation, the `amplitudeSpectrum` and `powerSpectrum` are said to have an FFT size equal to the buffer size (`bufferSize`). But in `main.js` file the length of array is halved. See here:
https://github.com/meyda/meyda/blob/7d30f1aba7de3fe373f1d71bce050f64bcbeeab1/src/main.js#L287

What is correct? The documentation or the code? Or am I missing something here?

[2019-10-17 09:26] nevosegal commented on #305
It looks like the docs are incorrect. In theory the amplitude spectrum is the size of the FFT, but in practice we only compute half of it as everything above the nyquist mirrors everything before it. I will update the docs - thanks for letting us know!

[2019-10-17 09:40] khanguslee commented on #305
Thanks @nevosegal! Appreciate the work that's put into the library!

[2019-10-22 22:06] hughrawlinson commented on #305
Hi @khanguslee - the docs [here](https://meyda.js.org/audio-features) document the length of those features as being of length bufferSize/2. Could you point me to the place(s) in the documentation which were incorrect, so I can fix them? I had a look through, and I can't find the reference.

[2019-10-23 01:18] khanguslee commented on #305
I think this has been fixed or I must've been confused by the documentation. I think the sentence:

must have confused me. Would it be better for this to be at the top? Would follow DRY principles?

[2019-10-23 01:18] #305 closed

[2019-10-23 18:47] hughrawlinson commented on #305
Cool, thanks! I'll look through the docs again to see if there's anything I can do to improve them.

[2019-11-14 00:50] hughrawlinson commented on #286
v3 sounds good to me too, since we could also have a separate library that packages it somehow (maybe using `standardized-audio-context`).

[2020-01-10 23:01] hughrawlinson opened #311 "Docs for features should link to a reference of what we implemented"

[2020-01-13 03:33] hughrawlinson opened #312 "Expose list of available Feature Extractors"

[2020-02-04 10:16] dulex123 opened #315 "Is it possible to further configure MFCC extraction?"
I've read that meyda mfcc was inspired by librosa, but is it compatible with it? If I configure some mfcc extraction setup in librosa, is it possible to get ~same results with meyda?

For librosa there is a bunch of params dct_type, pad_mode, center, n_fft etc that I couldn't figure out in meyda.

[2020-02-04 12:58] hughrawlinson commented on #315
Hi! Meyda MFCC is probably not compatible with librosa, except possibly in a very specific configuration of librosa, which is unknown to me. We don't have parameters for all of those, so I guess we just chose one option for each value and hardcoded it or didn't implement the feature. That's not to say that we're not interested in providing a librosa compatible implementation - I would love to. But

[2020-02-05 09:49] dulex123 commented on #315
@hughrawlinson thank you very much!

[2020-02-05 09:49] #315 closed

[2020-02-20 05:33] hughrawlinson commented on #312
I needed this again, I should really do it :P

[2020-02-23 01:30] #303 closed

[2020-02-23 01:31] hughrawlinson commented on #290
This is done and deployed! :)

[2020-02-23 01:31] #290 closed

[2020-02-23 01:32] hughrawlinson commented on #274
This is merged and deployed!

[2020-02-23 01:32] #274 closed

[2020-02-24 17:27] 2xAA commented on #312
I've used `Object.keys(Meyda.featureExtractors);` before 😅

[2020-02-24 17:34] hughrawlinson commented on #312
hahaha oh no!

[2020-03-03 13:27] hughrawlinson commented on #91
This is stale, I'm gonna close it. It could be done as a separate package if anyone needs it. (feel free to reopen)

[2020-03-03 13:27] #91 closed

[2020-03-03 13:35] hughrawlinson commented on #300
@miaobin @Fluxionsdx  this is fixed in meyda@4.3.0. Hope that helps, and sorry for not updating you earlier!

[2020-03-03 13:35] #300 closed

[2020-03-03 13:55] hughrawlinson commented on #232
@2xAA resurrecting this one from the dead.

Does [this runkit](https://runkit.com/raw/5e5e5d93f7243d0013f26fb8) accurately capture the issue?

If so, I'm not sure that setting "rect" as the default windowing function for all of Meyda is the solution here. I'm not even sure why I added the meyda.windowing alias for utilities.applyWindow, evidently I didn't think it through. It's not even documented

[2020-03-03 13:59] hughrawlinson commented on #261
Would this need to handle zero-padding and/or resampling?

[2020-03-03 14:00] hughrawlinson commented on #254
Sorry I missed this @sk9331657. In case you or anyone else would like to take this, the images would need to be shown [here](https://github.com/meyda/meyda/blob/master/docs/showcase.md), and stored in [this folder](https://github.com/meyda/meyda/tree/master/docs/images)

[2020-03-03 14:03] nevosegal commented on #261
No resampling, yes zero padding.

[2020-03-04 14:31] hughrawlinson commented on #261
some logic like:

[code]

?

That would allow the bufferSize to be non-power-of-two, which could be handy. Would we also have to have a prefix/postfix/split mode for letting people choose where the zeros go? Or is 'half before and half after' the same as 'all before' or 'all after'? Would we always pad just up to the next power of two, or would we allow people to specify that they want padding up

[2020-03-05 10:30] 2xAA commented on #232
@hughrawlinson Yes this demonstrates the behaviour I encountered.

I think the most crucial thing to do here is to just document that hanning is applied as the default window, as a package consumer, by default I really would have expected rect.
Only because from the way the docs are written "no window" sounds like default behaviour.

I don't think major changes are required here 😅

[2020-03-05 15:31] hughrawlinson commented on #232
Sounds good, will do that! :) Thanks!

[2020-03-05 20:27] hughrawlinson commented on #237
Hi! So we merged per-channel extraction. Still have a lot of questions about how this feature extractor might work. It seems like it's pretty exclusively suitable for stereo audio. Panning in mono doesn't make sense, and planning in for example 5.1 surround sound gets extremely complicated (how would you represent a sound showing up in two rear speakers, plus the front left one). Additionally from

[2020-03-06 10:14] nevosegal commented on #261
I don't think it matters where you add the zeroes. I often pad equally on both sides, but I've seen people pad after the audio data. The output won't change, so I don't think we need to provide the users with `mode` option.

We do need to make sure that we zero-pad after we apply the windowing function on the audio data. We don't want window the zero-padded input.

[2020-03-06 10:19] nevosegal commented on #261
And yeah, implementing zero-padding opens the door to allowing non-power-of-two input, which could be awesome (especially for the offline mode).

So:
- If the input buffer size is non-power-of-two, and the user doesn't specify an FFT size, we should pad the input to the next closest power-of-two. For example, input buffer size of 500 should be zero-padded to be of length 512.
- If the user _does_

[2020-03-06 19:38] hughrawlinson commented on #261
Awesome!

[2020-03-06 19:39] #232 closed

[2020-03-23 00:40] hughrawlinson opened #345 "Make it clear that you can install meyda with npm"

[2020-03-23 01:56] hughrawlinson opened #346 "Jest-github-reporter needs us to drop node 8 to be upgraded"
It doesn't need to be upgraded urgently - no significant security implications are related to this package. But, people throughout JS seem to be dropping support for node 8, so I don't think it'll be a problem. I wish I could see usage stats per node version for Meyda.

[2020-03-23 04:06] hughrawlinson opened #347 "Better PR feedback"
I'd love to get a little more information on my PRs. I'd like to do this by installing [Danger JS](https://danger.systems/js/) and a few plugins:

* [danger-plugin-npm-audit] to see packages with security issues
* [danger-plugin-conventional-changelog] to check that all commit messages are correctly written (this makes semantic-release work)

[danger-plugin-npm-audit]: https://www.npmjs.com/packag

[2020-03-23 05:17] #258 closed

[2020-03-23 05:26] hughrawlinson commented on #257
I would prefer something like

[code]

Setting values on instances of objects, rather than on an imported module. Or:

[code]

Similar idea, but no object instances, only functions. Or:

const { meyda } = require('meyda');

const extractor = meyda()
  .sampleRate(192000)
  .features(['rms']);

const staticFeatures = extract(buffer);
const dynamicFeatures = extract(audioNode); // returns observable

[2020-03-23 17:55] vectorsize commented on #257
👋 oh yes, it was indeed many years ago! I haven't been following closely the project, I'd say a couple of things that may be important:

If none of the user facing APIs is in a functional style is it worth it just changing that bit? I mean I'm 100% with no-side-effects APIs when possible, but if you're going functional then you might have to change many other things (?)

Another thing that may imp

[2020-04-02 19:59] diegodorado opened #357 "Node version 13 support"
Is there any reason for node version 13 not being supported?

[2020-04-08 21:08] hughrawlinson commented on #357
No, and it would probably work - did it give you any issues or warnings? I think we can likely add support easily.

[2020-04-09 16:04] diegodorado commented on #357
thanks!

[2020-04-09 16:04] #357 closed

[2020-04-24 08:16] dependabot-preview[bot] opened #373 "Dependabot couldn't reach artifactory.spotify.net/artifactory/api/npm/virtual-npm as it timed out"
Dependabot couldn't reach artifactory.spotify.net/artifactory/api/npm/virtual-npm as it timed out.

Is artifactory.spotify.net/artifactory/api/npm/virtual-npm accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/meyda/update-logs/3084766

[2020-04-27 08:27] #373 closed

[2020-04-27 08:28] dependabot-preview[bot] opened #374 "Dependabot couldn't reach artifactory.spotify.net/artifactory/api/npm/virtual-npm as it timed out"
Dependabot couldn't reach artifactory.spotify.net/artifactory/api/npm/virtual-npm as it timed out.

Is artifactory.spotify.net/artifactory/api/npm/virtual-npm accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/meyda/update-logs/3103773

[2020-04-28 12:31] dbogdanov commented on #288
Indeed it will be useful to know the details about the normalization followed, and add those to the documentation.

[2020-04-29 08:08] #374 closed

[2020-04-30 19:15] collierrgbsitisfise opened #382 "Strange rms value"
Run a cli command for .wav file

`node_modules/.bin/meyda data/sound1.wav rms  >> result.txt`

by docs RMS value should be  in range **[0.0 - 1.0]**

strange values in the end of result file(see attached file)
<img width="538" alt="Снимок экрана 2020-04-30 в 22 13 57" src="https://user-images.githubusercontent.com/13496126/80749939-e894a180-8b2f-11ea-9b3e-76a45b839545.png">

[2020-04-30 19:26] #382 closed

[2020-04-30 19:28] collierrgbsitisfise commented on #382
I apologize for the carelessness - did not notice  **e-7** value at the end

[2020-05-06 11:16] harrislapiroff opened #391 "Chroma shifted when using more than 12 bands"
When using 12 bands for chroma extraction (the default configuration) C is the zeroth band. When using more than 12, C seems to be shifted up to be a higher band.

Steps to reproduce:

1. Run a chroma band extraction on an audio buffer array of Middle-C with 24 bands:

[code]

Expected result: Value of band 0 should be 1, all other bands < 1
Actual result: Value of band 3 is 1, all other bands  <

[2020-05-07 05:07] Nhatmusic opened #393 "Change Sample Rate value when calculating MFCC, it does not change how many times it calculates the level in one second"
As mention in your documentation about real-time audio example,
"Usually there are 44100 Audio Samples in 1 second, which means in this case Meyda will calculate the level about 86 (44100/512) times per second."

The feature that I calculate is mfcc. buffer size: 512. I expected that when I change the sample rate to 22050, it will calculate the feature about (22050/512) = 43 times per second. Howe

[2020-05-07 15:36] hughrawlinson commented on #393
The sample rate parameter on Meyda doesn't make Meyda resample audio. It's more like a hint, to tell Meyda what the sample rate of the audio it receives is. If you set the sample rate to 22050, but provide an AudioNode from a 44100 rate AudioContext, Meyda will still output the same number of features per second, and they will be calculated incorrectly because Meyda will have incorrect information

[2020-05-07 15:38] hughrawlinson commented on #391
Hey, thanks for filing the issue. We'll look into it as soon as we can :)

[2020-05-07 17:16] Nhatmusic commented on #393
Thank you so much for your response. It helps me a lot. Now, I understand that I have to control the sample rate from AudioContext rather than using Meyda sample rate config. It works.

[2020-05-07 18:08] harrislapiroff commented on #391
Thank _you_! Happy to help out any way I can, though my knowledge of audio analysis is pretty scant.

[2020-05-08 03:37] hughrawlinson commented on #393
Happy I could help!

[2020-05-08 03:37] #393 closed

[2020-05-08 07:53] dependabot-preview[bot] opened #395 "Dependabot couldn't reach artifactory.spotify.net/artifactory/api/npm/virtual-npm as it timed out"
Dependabot couldn't reach artifactory.spotify.net/artifactory/api/npm/virtual-npm as it timed out.

Is artifactory.spotify.net/artifactory/api/npm/virtual-npm accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/meyda/update-logs/3244238

[2020-05-08 15:36] hughrawlinson commented on #395
UUUUUUUUUUUUUUUUUgh this should not be happening, I thought I fixed this.

[2020-05-08 18:03] ajaska opened #396 "Meyda License"
Hi, I was looking at using this code as the basis for a similarly MIT-licensed project, but I noticed the documentation states that major portions of the project have been adapted from [yaafe](http://yaafe.sourceforge.net/) which is a LGPLv3 project. The GPL family of licenses (notoriously) does not permit GPL source code and derivatives thereof being included in an MIT-licensed project (according

[2020-05-08 21:46] hughrawlinson commented on #396
Hi!

We probably didn't consider this when we started working on this. Meyda doesn't include any of Yaafe's code, and since the feature extractors in Meyda and Yaafe are implementations of algorithms that are defined externally to both libraries, I don't think there's a violation of Yaafe's licenses here. I think we looked at Yaafe's implementations to make sure that we didn't get any code wrong,

[2020-05-08 21:46] #396 closed

[2020-05-08 21:48] hughrawlinson commented on #395
This is already fixed in #392, which I'm going to merge now.

[2020-05-08 21:48] #395 closed

[2020-05-08 21:48] ajaska commented on #396
Makes sense, thank you!

[2020-05-11 19:51] dependabot-preview[bot] opened #400 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-05-11 19:56] #400 closed

[2020-05-16 12:41] TimPietrusky commented on #357
@hughrawlinson would it be possible to also release a new version of meyda so that support for Node 13 & 14 is available?

[2020-05-16 12:43] hughrawlinson commented on #357
Yep, I'll do this now.

[2020-05-16 13:31] hughrawlinson opened #404 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-16 13:31] hughrawlinson commented on #404
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-16 13:31] hughrawlinson commented on #404
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-16 13:31] hughrawlinson commented on #404
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-26 09:44] nbremer opened #407 "Difference between Meyda's amplitudeSpectrum and Web Audio API's getByteFrequencyData"
I'm quite new to analyzing music, so perhaps this is a silly question, but I was wondering what the difference was between the results returned by [`getByteFrequencyData()`](https://developer.mozilla.org/en-US/docs/Web/API/AnalyserNode/getByteFrequencyData) from the Web Audio API versus the `amplitudeSpectrum` that is returned by Meyda?

When I apply both to an audio file that's playing (on each `

[2020-05-26 13:33] hughrawlinson commented on #407
It depends a lot on how you set up Meyda - maybe you could post a demo?

Meyda allows for selection of a windowing function, which can "clean up" the frequency domain representation of audio quite a lot, that would be my first guess as to what's happening here.

[2020-05-28 07:27] nbremer commented on #407
Hmmm, the 2nd link in my post above indicates that the Web Audio API uses a Blackman window to the time domain input data.

I don't have a working demo online, but I tried to put the relevant steps below that I hope should work if actually run, hehe

[code]

I know that in the code above I haven't normalized both lines, so the absolute heights don't coincide.

When running it myself I get the foll

[2020-05-28 09:10] nevosegal commented on #407
The output of `getByteFrequencyData` is the frequency spectrum in dB. As stated in the docs "Each item in the array represents the decibel value for a specific frequency". The magnitudes in Meyda's frequency spectrum are represented linearly. You will need to convert Meyda's `amplitudeSpectrum` bins to dB using `20 * log10(amplitudeSpectrum[i])`.

[2020-05-28 10:45] nbremer commented on #407
Ah, I see! Apologies for the confusion. Thank you. Yes, if then also apply the [rescaling](https://webaudio.github.io/web-audio-api/#AnalyserNode-methods) that is done by `getByteFrequencyData` to lie between 0 - 255 they two signatures are indeed very similar.

[2020-05-28 10:48] nevosegal commented on #407
Great, happy I could help 😀.

[2020-05-28 10:48] #407 closed

[2020-05-28 12:58] nbremer opened #419 "Analyzing a full audio clip without playing it"
Hello,

I'm having trouble figuring out how to analyze a pre-loaded audio clip without actually having to play it. My end goal is for the user to load a local mp3 file (a song), and that I'll create a data visualization/art visual about the whole song.

For now I have this to load the song into a buffer
[code]

Looking at the Meyda docs (and the ["offline"](https://meyda.js.org/guides/offline-node

[2020-05-28 19:09] hughrawlinson commented on #419
Hi!

Yes, this is what I think would suit your use case best. One trick is that you'll almost definitely be left with a final buffer whose length is less than `fftSize`, since the chance of the length of the audio buffer being an integer multiple of the fftSize is very low. You can just add zeros to the end of that buffer until it's the right length, and that shouldn't have a big impact on the ana

[2020-05-29 10:57] nbremer commented on #419
Thanks! Yes, I think i have it working now :) With so many chunks to slice the actual ±3 min full audio clip into I'm ok with discarding the final chunk. I now have the following code

[code]

which seems to result in a logical result when I plot the `data_chunks` array as a heatmap of time vs frequency (and color for the amplitude)

Thank you!

[2020-05-29 14:54] #404 closed

[2020-07-15 10:25] damienlaine opened #458 "_melToFreq and _freqToMel wrong constant ?"
Greetings,

Seems like these MFCC extraction utilities functions relies a constant which is set to 1125 in Meyda's implementation. I observed slight diferences between Meyda's and expected test results on some MFCC extraction.

O'Shaughnessy's mel-scale formula, which is widely used everywhere, uses this "1127" constant.

Maybe Meyda would benefit from this de-facto standard constant ?
Maybe there

[2020-07-17 16:14] hughrawlinson commented on #458
Hi! @nevosegal any insights here?

[2020-07-20 08:56] nevosegal commented on #458
Hi @damienlaine, that's a good point. Although there is no "correct" number, from a quick search it looks like 1127 is the most widely used.

Are you up for fixing it and opening an MR?

[2020-07-20 21:21] einarkurbitur commented on #419
Hello,

I've been trying to achieve a similar thing (extract the frequencies from a song at X second interval) and just stumbled upon this issue. However, I haven't been able to get the code posted above working. Is there a chance that meyda has an example that achieves the same thing somewhere? or that nbremer is willing to share the full code?
The code seems to error out on `audio_buffer = await

[2020-07-21 07:39] nevosegal commented on #419
Hi @einarkurbitur, can you share your code and the error you're getting?

[2020-07-23 22:16] damienlaine commented on #458
Sure, but i'm quite confused about your contribution guidelines. `Always work on the ‘next version branch’, whose name is the version number of the next release.`
This is quite cryptic as there's no such branch. Any clue ?

[2020-07-25 00:42] hughrawlinson commented on #458
Looks like I need to update our contribution guidelines, sorry! The only constraint you need to follow is to make sure your commit message follows [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/#summary). In this case, this would be a breaking change, since it'll change the output of the mfcc feature extractor between versions. If you make your commit locally, the tooling sho

[2020-08-31 17:52] hughrawlinson opened #497 "Have semantic-release publish GitHub Releases"
It looks like Semantic Release doesn't by default publish GitHub releases. [This plugin](https://github.com/semantic-release/github) should handle it. We also need to create GitHub releases to match the releases that have happened (they've all been security releases I think).

[2020-10-03 18:01] #346 closed

[2020-10-03 19:15] trybick commented on #347
@hughrawlinson Can I pick this up? I noticed this was from March so wanted to check if we still wanted it.

[2020-10-03 19:16] hughrawlinson commented on #347
@trybick Go for it! Thanks

[2020-10-10 11:28] trybick commented on #347
Hey I'm not sure if I'll have time to do this actually, sorry :(

And if it helps, it looked like the danger plugins were getting outdated possibly. I have seen people use LGTM.com PR plugin for code analysis so maybe that's another option if danger doesn't work out.

[2020-10-10 22:23] hughrawlinson commented on #347
Thanks for looking into it!

[2020-10-18 17:16] innerop commented on #286
Hi,

Any update on this?

I believe browsers will soon be removing the WebAudio script processor API.

Thanks.

[2020-10-21 08:33] akshat-khare opened #546 "Configuring number of mfcc in the command line utility of meyda"
Hi,
I love your software and am using it for some cool projects. Can we have number of mfcc components (currently default as 13) in the command line utility by option like `--numberOfMFCCCoefficients=30`?
Thanks a lot

[2020-10-22 15:14] hughrawlinson commented on #546
Yes, absolutely! Would you like to submit a PR? Otherwise, I'm happy to add it when I have time.

[2020-10-23 07:40] akshat-khare commented on #546
I don't know where the parser for command line functionality is. Never made any node js app. I don't think we need to change many lines. Maybe you can do it quickly.

[2020-10-28 07:30] sudiptog81 commented on #546
We can just add new option in https://github.com/meyda/meyda/blob/master/bin/cli.js#L6-L14 and set the property in https://github.com/meyda/meyda/blob/master/bin/cli.js#L31-L35. Should I make a PR?

[2020-11-30 17:05] 2xAA commented on #288
I'd like to bump this and mention that the ranges described in the documentation for amplitudeArray and energy don't provide a 0-1 value when divided by the sampleRate/2 and and bufferSize respectively.

It would be extremely useful to have these values normalised.

[2020-12-18 09:07] elyasmotazedy opened #601 "compare similarity two vioce"
hi,
can i compare similarity of voices with this package?

if yes i need a sample code

thanks

[2021-01-03 19:43] hughrawlinson commented on #288
Wondering how you would want this to work - there are a few options.

1. Normalize each frame such that the loudest value in each loudness response is 1. This would mean you'd get inconsistent volumes across frames, but you wouldn't encounter the problem of having one very loud sound push all the average-loudness sounds way down.
2. Store the loudest volume heard "so far" in Meyda state and normal

[2021-01-03 20:34] hughrawlinson commented on #601
That's too broad a question to answer. You can extract audio features from recordings of voices using this package. You can then compare those audio features. Whether they'll compare in a useful way for your application, I don't know. From what I understand, speaker diarization is a complex problem that is solved usually by machine learning, which this package doesn't do.

Hope that helps!

[2021-01-03 20:34] #601 closed

[2021-01-05 21:28] #546 closed

[2021-02-03 14:56] yatiac commented on #271
how did you split the buffer? can you provide an example? @tomakado

[2021-02-14 12:46] 2xAA commented on #288
@hughrawlinson for an audio-visualisation use-case this would work as the documentation describes in the range detail for each feature.

I'd be able to normalise the returned feature values between 0 and 1, so we can assign those to parameters easily and not have to worry about a very loud sound causing "strange" results.

I'm not sure how that would work internally in Meyda, and I'm not sure I'd

[2021-04-27 09:00] PaulBlenkhorn opened #778 "Meyda Demo Working with Safari"
I have found that the Meyda webpage does not work with Safari and the microphone.

I think that the fix for this is to change lines 172 onwards in main.js to the code below.

[code]

[2021-04-28 10:23] hughrawlinson commented on #778
Hey @PaulBlenkhorn, thanks for getting in touch! I'm having a bit of trouble following the change in the code - would you mind opening a Pull Request so that we can more easily compare the code?

Thanks!

[2021-04-28 14:46] PaulBlenkhorn commented on #778
Hi Hugh.
I've tried to do a pull request but am having trouble doing it - not sure why it isn't working for me.  Here's my version of main.js (renamed to main.txt) if you want to compare it with the existing version.  Sorry, but that's the best I can do currently.  My changes are just after line 188:  console.log('Asking for permission...');
Cheers
Paul

[main.txt](https://github.com/meyda/meyda/f

[2021-05-13 02:30] Twinparadox commented on #286
Thank you for your great works.
Any update on this issue?
I can't find any update on this issue in this project.
Other projects also seem to have no other comment on this...

Thanks.

[2021-05-17 09:51] hughrawlinson commented on #286
Hey @innerop and @Twinparadox - no update on this right now. As far as I know, despite ScriptProcessorNode having been deprecated in the spec, it's not expected to be removed from browsers in the near term, so there's no need to worry too much about Meyda not working on Web Audio. The difficulty with AudioWorklet is that because the worker has to be serialized, we end up with lots of duplicate cod

[2021-05-17 10:41] Twinparadox commented on #286
@hughrawlinson
Thanks for your reply.
I'm also considering AudioWorklet in my project, and I know it's not easy.
Anyway, Thank you for your care about this issue.

[2021-05-17 13:16] hughrawlinson commented on #271
Hi @yatiac, sorry for the delay in replying. [Here](https://medium.com/@Dragonza/four-ways-to-chunk-an-array-e19c889eac4) is an article showing a few different ways to split a javascript array into equal sized chunks. Hope that helps, and is still useful to you!

[2021-05-22 13:04] hughrawlinson commented on #271
Hi! I wrote [a blog post](https://www.hughrawlinson.me/posts/2021/05/19/loading-audio-in-node-js) about this. I'm going to link to it from the Node guide. Hope that helps.

[2021-05-22 13:10] hughrawlinson commented on #497
Semantic Release has started publishing GitHub releases :smile:

[2021-05-22 15:19] #271 closed

[2021-05-23 13:44] hughrawlinson commented on #497
I think I was wrong about this. On desktop, GitHub was showing me releases. On GitHub for iOS, the last release is shown as v4.3.2.

[2021-05-23 22:21] hughrawlinson commented on #262
We don't actually need to remove Gulp. It's fine. It works like a makefile. If we removed Gulp, we'd have to add `@babel/cli`, and devDependencies are cheap anyway. Not worth the effort of writing a separate script.

[2021-05-23 22:21] #262 closed

[2021-05-25 08:51] #345 closed

[2021-05-25 09:07] #264 closed

[2021-05-26 21:23] hughrawlinson opened #829 "Meyda is exporting the wrong thing"
I merged a PR that means the web build of Meyda now puts meyda on the global.Meyda.default object. Working on fixing in #828.

[2021-05-26 22:59] hughrawlinson opened #831 "Remove manual window export"
Our build tools give us this for free.

[2021-05-26 23:09] hughrawlinson opened #832 "Document in src/index.js that it's a shim for web"
I was confused when working on exports that index.js was behaving weirdly - I had forgotten that the `main.js` file was the entrypoint for node, and that the `index.js` file exists only to map the default export to the right place for the web build. To avoid this in the future, we should write in index.js what it is for.

[2021-05-27 09:49] hughrawlinson opened #833 "Document that Meyda supports typescript"

[2021-05-27 16:23] #829 closed

[2021-05-27 16:43] #832 closed

[2021-05-27 16:48] #833 closed

[2021-05-27 21:36] hughrawlinson commented on #347
I installed a GitHub action to lint commit messages, and I think it's not necessary to show npm audit results in a pull request since we have dependabot and security alerts now.

I'll close this issue since the core of it resolved, and we've established a pattern for including more checks.

[2021-05-27 21:36] #347 closed

[2021-05-28 14:58] hughrawlinson opened #840 "Switch from Travis-CI"
travis-ci.org is shutting down at "The End Of May", which is this weekend, so we should get off it. Right now, I'm leaning towards using GitHub actions, because they are gaining traction as "the current good long term choice", as Travis was in it's time. But open to suggestions! Ideally ones that don't involve me learning new yaml schemas.

[2021-05-28 15:56] hughrawlinson commented on #778
This should be fixed now - let me know if you're still running into issues with it. Thank you for the contribution! :fireworks:

[2021-05-28 15:56] #778 closed

[2021-05-28 20:10] hughrawlinson opened #842 "Drop Node 10 and 13 in next major release"
I was tempted to do it now since both have dropped out of maintenance, but I've seen other maintainers treat it as a breaking change despite that.

[2021-05-28 20:25] hughrawlinson commented on #831
Don't bother with this until #824 lands!

[2021-05-29 13:43] hughrawlinson opened #845 "Feature Extractor: Stereo Width"
I'm thinking of the correlation of the spectra in each channel (I guess in multichannel we make the user pick the channels), and then the centroid of that correlation.

All our features so far are based on mono signals though, so we'd need to consider how a feature with two signal inputs could work.

[2021-05-29 13:49] hughrawlinson opened #846 "Document Multi Channel Extraction in a guide"
I didn't remember how to do multi channel extraction and realized that none of our guides touch on it.

[2021-05-29 14:18] hughrawlinson commented on #298
Could do this real well with types #justsaying 😏

[2021-05-29 21:43] hughrawlinson opened #847 "How to have two meydas in the same program"
_[here's a link to a runkit I'll be referencing](https://runkit.com/raw/meyda-singleton-demo)_

Right now it's possible to have two Meydas, but it's tricky. Meyda is actually a singleton, so the same top-level defaults are shared across the entire running program. Because we tell people to set these parameters to whatever they need, it's possible that one part of a program sets them, then another

[2021-05-29 21:44] hughrawlinson commented on #846
uh turns out we can't really have two meydas in a program see #847 so yeah I started this but it's on the back burner until it's possible I guess, see where I got to below.

[code]

[2021-05-30 12:16] #288 closed

[2021-05-30 13:34] hughrawlinson opened #850 "Consider using issue templates to let people apply to be on the showcase page"

[2021-05-30 14:02] hughrawlinson commented on #236
I've found a bug in Spectral Flux - repro'd [here](https://runkit.com/raw/meyda-spectral-flux). The issue is that it's referring to the incorrect signal accidentally.

We didn't catch this issue because we seem to have forgotten to write tests for spectral flux. Sorry you've had this issue. Even sorrier it's taken me this long to figure out what's going on. Working on a fix now.

[2021-05-30 15:45] hughrawlinson commented on #257
Related: #847

I remember @vectorsize telling me the problem from that issue in a cafe in Stockholm like 5 years ago but I think I didn't get it, or see why it was important. You live and you learn (that you should've listened to @vectorsize)!

[2021-05-30 17:49] hughrawlinson opened #853 "Eslint only checks semicolons"
I think eslint is only requiring semicolons. We can either: decide that's ok, remove eslint, or choose a config. Popular contenders:

- [AirBnB](https://github.com/airbnb/javascript)
  - I think we initially intended to use this
- [Spotify](https://github.com/spotify/web-scripts)
  - I've been using this one for years and I like it

But, if we add one, we have a lot of code churn getting the code

[2021-05-30 18:39] hughrawlinson commented on #497
I can't verify this but I think the personal access token Travis used didn't have the ability to create releases. This should fix itself when we switch to GitHub actions. We shall see!

[2021-05-30 18:51] #840 closed

[2021-05-30 19:01] hughrawlinson commented on #497
Ok this is maybe done but we can only verify at release time so I guess I hope I remember to update the issue when the next release comes through, maybe a minor for #851 in the next few days

[2021-05-31 10:16] vectorsize commented on #257
😅  That's probably a good lesson to learn... I should also listen sometimes...

[2021-05-31 10:17] hughrawlinson commented on #257
alternative version: Hugh live and Hugh learn (that Hugh should've listened to @vectorsize)!

[2021-05-31 10:20] vectorsize commented on #257
haha we all have several of those sides, glad to see this repo is getting some life again!

[2021-06-09 10:03] DavidLifshitzSmit opened #868 "Slight offset in amount of frames calculated per second"
Hi!

So I just started using Meyda since yesterday (So far great to see this on javascript, as I'm used to Librosa on Python).
I'm interested to run it live on a web browser, calculate MFCCs for each second and then define classify it based on the data I have. So, according to the Meya documentation, the sample rate is 44100 samples/second. Whenever choosing a buffer of 512 samples, I would expect

[2021-06-09 10:31] #868 closed

[2021-06-09 12:54] hughrawlinson commented on #868
Hi @DavidLifshitzSmit, thanks for using Meyda! Happy to help if you have any questions! You didn't skip any formalities, thanks for sharing your code so we can see what's happening. Meyda doesn't set it's own internal sample rate, it should use the sample rate of whatever audio it receives. It looks to me that since your expected sample rate based on your calculations is 47600, you're probably usi

[2021-06-10 05:15] DavidLifshitzSmit commented on #868
Yaaap, I got to to the same conclusion yesterday when reading a resembling answer on a different issue, just before closing this issue. Thanks for answering anyways and I hope Meyda+tensorflow will finally give the results I'm looking for! Thanks a lot bud!

[2021-06-15 17:18] hughrawlinson commented on #497
https://github.com/meyda/meyda/releases/tag/v5.1.8

big success!!!

[2021-06-15 17:18] #497 closed

[2021-06-18 22:43] SaltedBlowfish opened #879 "Extracting RMS does not yield expected result"
First off, I love this library. I think it's an amazing addition to the community. Thank you to the maintainers.

The Issue:

When reading the feature docs, `rms` says:

RMS
Description: The root mean square of the waveform, that corresponds to its loudness. Corresponds to the ‘Energy’ feature in YAAFE, adapted from Loy’s Musimathics [1].
    What Is It Used For: Getting a rough idea about the lou

[2021-06-19 11:12] hughrawlinson opened #881 "Document our Major Changes policy"
We've been working with the idea that changes to extractors that modify the result for the same input are breaking changes. This is because if users cache values in a database, then upgrade Meyda, and extract new values for comparisons against the database, the comparison will be wrong. We should make this clear in release notes and the docs.

[2021-06-20 09:38] hughrawlinson commented on #879
Hi @SaltedBlowfish! Thanks for writing the issue!

The range of rms is incorrectly documented. It shouldn't be bound by 0-1. I'll fix that shortly. Thanks for drawing my attention to it!

While our implementation of rms is meant to match every other implementation, the second issue is an example of expected behaviour in Meyda. This is because the Meyda extract method applies the default windowing

[2021-06-20 18:20] #879 closed

[2021-06-20 18:29] SaltedBlowfish commented on #879
@hughrawlinson Thank you for clarifying! I understand the windowing but there were some strange side-effects I ran into with the RMS value that led me to think there was more going on.

I'll see if I can reproduce and I'll make a new issue if I find it again.

[2021-06-20 18:30] #881 closed

[2021-06-20 18:47] hughrawlinson commented on #879
Thanks! Please let us know if you find any weird behaviour, we would of course love to fix it and make any improvements we can.

[2021-06-20 19:05] #850 closed

[2021-06-20 19:15] hughrawlinson commented on #270
I've actually been working on Typescript for Meyda, and I think we can resolve this in that PR - either way, I'd prefer a compile time type error to a runtime thrown error.

[2021-06-20 19:15] #270 closed

[2021-06-20 19:18] #312 closed

[2021-06-21 07:41] hughrawlinson commented on #853
Another alternative: get rid of eslint, install prettier. Prettier handles what we use eslint for now.

[2021-06-23 07:36] whoopdotch opened #890 "Ability to specify number of MFCC Coefficients in the Command Line"
First of all, I love Meyda.

I wanted to ask whether it is possible to specify the number of MFCC Coefficients in the Command Line?

Thanks

[2021-06-23 08:05] hughrawlinson commented on #890
Yep! You can use the --mfcc flag to set the number of MFCC coefficients. Let me know if you have any issues with it!

[2021-06-23 08:05] #890 closed

[2021-06-23 11:16] tyohan opened #891 "How to calculate maximum possible value of amplitude in amplitudeSpectrum data?"
@hughrawlinson i was thinking to post it here before I asked you on the Twitter because there is no issue template for a question.

Basically I'm building a visualization for audio and use Meyda to extract the frequency domain data with amplitudeSpectrum feature. With NodeJS I can get the maximum amplitude value by scanning the whole values on the arrays, but with live visualization with Web Audio

[2021-06-23 11:43] hughrawlinson commented on #891
Thanks for pointing that out! I've gone ahead and created one now.

This is a really good question. I thought I knew the answer when you messaged on Twitter and I now realize that I don't. Our documentation [specifies](https://meyda.js.org/audio-features#amplitudespectrum) that each bin in the amplitude spectrum can go up to half of the sample rate. I went digging in our demo code to find a scalin

[2021-06-23 11:49] hughrawlinson commented on #891
*if* the complex spectrum is correctly documented as having a maximum value of sampleRate/2 for each real and imaginary component, then the maximum value in the amp spectrum is sqrt(2*sampleRate^2) - I think. Would need @nevosegal (or anyone else who knows) to confirm. This is precluding any relationship between the real/imag components of the complex spectrum that for example prevents the sum of

[2021-06-24 02:14] tyohan commented on #891
Thanks for the answer Hugh, even it does not answer the question directly but at least it gives me more information about the possibilities to find the maximum value.

I found[ an issue](https://github.com/meyda/meyda/issues/407) about the amplitude spectrum and how is it different with `getByteFrequencyData()` from Web Audio API. So decided to transform the value to decibels 0-255 like that API d

[2021-07-17 18:51] hughrawlinson opened #918 "switch to tsdoc"
jsdoc doesn't work anymore

[2021-07-17 19:35] hughrawlinson commented on #853
We now have eslint and prettier, sorry

[2021-07-17 19:35] #853 closed

[2021-07-17 20:33] #918 closed

[2021-07-28 12:49] spleennooname opened #940 "prevent larsen/feeback for webcam microphone"
hello, first of all congratulations for the project, extremely interesting! Is there a best practice/example to use the microphone via webrtc in order to avoid larsen? try to explain myself better:

in a success callback after `mediaDevices.getUserMedia({ audio: true, video:true)` i have

[code]

not so sure if this is the correct order; any suggestions? thanks!

[2021-07-28 13:30] hughrawlinson commented on #940
Hey @spleennooname, thanks!

Yes, that code looks right to me, as long as your `stream` variable refers to the stream in the promise returned from your call to `mediaDevices.getUserMedia`. Is it not working?

Not sure what you mean by larsen - latency? When we benchmarked Meyda 6 years ago or so, we found that all the feature extractors were performant enough to run in realtime in major browsers o

[2021-07-28 17:20] spleennooname commented on #940
thanks for the quick and kind reply, first of all! What i want is to drive the visual parameters of this webgl effect shader (https://mosh.surge.sh) with meyda :)

:) By "Larsen" I was referring, relative to the microphone, to a feedback loop/"re-entry" effect; Before instantiating the library I have performed `source.connect(audioContext.destination)` (but maybe it depends more on the physical la

[2021-07-28 20:20] spleennooname commented on #940
ok, I think I've solved it :) the render cycle is now:
`
const draw = (unifObject = {}) => {
      if (!!this.audioExtractor.analyzer) {
        const features = this.audioExtractor.analyzer.get();
        if (!!features) {
          unifObject.lou = Math.round(invlerp(0., 25, features.loudness.total ) * 1e3) / 1e3;
         }
      }
      //
      for (const unif in unifObject) {
        this.re

[2021-07-29 10:19] hughrawlinson commented on #940
Ah I haven't heard that term before, sorry! FWIW, meyda shouldn't output any audio, so if you don't need to connect the source to the destination for your own purposes, you can skip that and it should be fine.

Glad that you got your visualization working! It sounds like your questions are answered now? But feel free to let me know if you need more info and I'll reopen the ticket :)

[2021-07-29 10:19] #940 closed

[2021-07-29 12:24] spleennooname commented on #940
yes, I'd say I'm good :) if you want to see meyda already in action check out [http://mosh.surge.sh)](http://mosh.surge.sh). I'll probably do a project on github about it. thanks again!

[2021-09-08 04:22] harrislapiroff commented on #391
Updating here to say that as far as I can tell this bug still exists and I'm fairly sure the transposition error is happening somewhere in this function, but I lack the theoretical understanding to parse out where https://github.com/meyda/meyda/blob/4888cdd6fa3579765135be5dfdaaabe5ef244aa2/src/utilities.ts#L191

[2021-09-08 07:32] hughrawlinson commented on #391
Hey @harrislapiroff, sorry it's been over a year. I'm not really sure why this is happening. @odub I wonder if you have any ideas?

[2021-09-08 08:45] odub commented on #391
@harrislapiroff thanks for the beautifully documented example. Some cases like that would be valuable in the test suite if you have more appetite to work on this :)

I can't pick up the implementation on the fix but here's a driveby for one thing I see going wrong that might help you.

[This code](https://github.com/meyda/meyda/blob/4888cdd6fa3579765135be5dfdaaabe5ef244aa2/src/utilities.ts#L248-L2

[2021-09-08 08:47] odub commented on #391
I can't guarantee there won't be other issues even where that one is fixed, but that's one I see for now anyway

[2021-09-08 08:52] hughrawlinson commented on #391
Thanks for looking into it @odub! That makes sense. I'll look into patching this.

[2021-10-20 09:46] hughrawlinson commented on #286
Hey @neuxregime

There has been a bit of progress. I submitted [a PR](https://github.com/darionco/rollup-plugin-web-worker-loader/pull/54) to the bundling library we would use, adding support for audio worklets (and a few other worklet style things). That PR hasn't been merged yet though, so I guess maybe we need to fork that package. Hopefully not though.

I've also been working on a change to th

[2021-10-20 11:43] Oortone commented on #845
I believe it's M = mono, S = stereo. It's a very old concept used in many audio engineering cases with both microphones and mixers since it's so easy to implement even for analog signals.

With Meyda I'd guess you have to produce the M and S signals first in WebAudio and then pass either signal on to Meyda. One at a time unfortunately...

[2021-10-20 14:28] spleennooname opened #1038 "ThreeJS + MeydaJS FFT Spectrum"
Hi Meyda people ,
first of all congratulations: your project is fantastic. I created this example with three+meyda, using some advanced features of threejs like InstancedMesh, postprocessing etc. It could be useful to someone who wants to experiment in audio reactive, as a starting point.
...

Project Name: threejs-meydajs-fftspectrum

Project Link:
[repo](https://github.com/spleennooname/threejs-

[2021-10-21 09:49] Oortone opened #1040 "sampleRate has no effect"
**Describe the bug**
Setting the sampleRate parameter on a MeydaAnalyzer to 22050 hz (or whatever low value) doesn't seem to do anything. In comparison, if I set the samplerate in the WebAudio context I get the expected behaviour. I inspected the MeydaAnalyzer in a Javascript console in Chrome and sampleRate is indeed set (to 22050) in my Meyda analyzer object.

**To Reproduce**
As a beginner I've

[2021-10-21 10:06] #1040 closed, assigned to nobody

[2021-10-21 11:43] Oortone opened #1041 "Relevant parameters from WebAudio context?"
So I just learned `sampleRate` in most cases needs to be set to the same as the WebAudio context is using when analyzing a realtime audiostream, otherwise STFT-bins will be incorrect in relation to the provided stream.
[](https://github.com/meyda/meyda/issues/1040)
So now I'm wondering if there are any more parameters I need to get from my WebAudio to get consistency between analyzer and audio str

[2021-10-26 21:24] Oortone opened #1048 "All parameternames in csv output"
**Is your feature request related to a problem? Please describe.**
Using the CLI to output parameters, those audio features who are multidimensional like `amplitudeSpectrum`and `mfcc` will not get corresponding label names in the first row of the generated csv-file. This makes it complicated to import using csv-importers like pandas in Python.
It's also unclear which bin each column represents.
An

[2021-10-30 15:31] #1038 closed

[2021-10-30 15:32] hughrawlinson commented on #1038
Added you in :)

[2021-10-30 16:23] Oortone commented on #1041
Great visualizer and I do believe this is the common usage of the hop parameter so keep it this way please. It makes hop length independant of chosen fft window (buffer) which makes things easier.

[2021-10-30 20:31] hughrawlinson opened #1052 "Expose ESModule"
Currently we expose commonjs, umd, but not esmodules. We used to expose esmodules under jsnext:main, but I broke that when moving to typescript.

I guess that this year people are stripping out support for all other module systems than esmodules, and browser support plus node support means it's an OK idea, but I've had trouble with packages that do that, and jest has been a nightmare in this scena

[2021-10-30 22:11] hughrawlinson opened #1053 "`numberOfMFCCCoefficients` vs `melBands`"
Is there a reason in Meyda we'd need to set the number of mel bands and the number of MFCCs to extract separately? Does it make sense for these to be independent of each other? I guess it's because loudness also uses the mel bands?

[2021-10-30 23:35] hughrawlinson commented on #1053
I confused myself, was mixing up the barkBands field that stores the bark bands with the number of bark bands that should be computed.

[2021-10-31 10:59] hughrawlinson commented on #1053
I'm still confused lol

There's `numberOfMFCCCoefficents`, which is the number of mfcc coefficients that should be calculated.
There's `melBands`, which is the number of mel bands calculated. It's unclear to me if it's useful for this to be separate from `numberOfMFCCCoefficients`.
There's `barkScale`, which is unrelated to either of these two, and is related to loudness.
There is no `barkBands`.

[2021-10-31 12:55] #1052 closed

[2021-11-03 19:56] hughrawlinson commented on #1053
Yes, that’s true - but I *think* right now all we use it for is the mfcc feature so I’m not sure why we would ever need to calculate more mel bands than we would then need to use in that mfcc calculation.

[2021-11-03 20:34] jamesb93 commented on #1053
Because it changes the MFCC result.

For example, doing some rudimentary tests in Max:

<img width="577" alt="image" src="https://user-images.githubusercontent.com/13281862/140188295-2e763180-fc97-48fc-9e21-7c35a3765b79.png">

For a given a spectral frame the values are different, albeit slightly. I think it would be sensible to set a high default (40 bands) and to then have it adjustable. I know

[2021-11-03 20:36] jamesb93 commented on #1053
To clarify: the MFCC on the left is using 40 melbands and the one on the right is doing 20 melbands before producing 13 MFCC coefficients in either case.

[2021-11-03 23:14] hughrawlinson commented on #1053
Aha! Thanks, that fully clarified it :)

[2021-11-03 23:14] #1053 closed

[2021-11-07 00:14] Oortone opened #1066 "RMS-levels = 0.3"
While trying to match offline analysis and realtime analysis using WebAudio and Meyda I came across a strange thing:

If I analyze a batch of files using something like:
`# meyda --bs=1024 --hs=512 --mfcc=13 --o=meydaoutput.csv samples_training/DczN6842.wav mfcc rms`

If I look in the csv files all frames for all files analyzed has an RMS that is somewhere between 0.29 and 0.31. (apart from the la

[2021-11-07 09:00] hughrawlinson commented on #1066
Thanks for the report! Just briefly perusing the code, I can't see where we would normalize in the CLI, but I'll look into it asap. A few things that would really help me identify the issue are:

1. An audio file where this happens
2. The exact way you invoke the CLI
3. Minimum viable reproduction for the web, just a tiny page that loads the file, does the extraction the way you're doing it, and w

[2021-11-07 10:21] Oortone commented on #1066
See atached files in zip.

(1 & 2)
Here are three simplified wav examples using pink noise. The script used and the csv:s produced, rms in last column.
Low and high level files produce the same rms so it's not absolute rms per file. That could make sense although it does not translate to realtime web version.

Ramped file seems to be correct in beginning with 0 rms, since the start is 0 and then p

[2021-11-07 10:48] Oortone opened #1067 "Some file sizes will crash CLI version"
**Describe the bug**
When using the CLI version to analyze files produced from the same source (produced by scipy.io wavfile) but of different length, some lengths will crash Meyda.

**To Reproduce**
Use attached files and issue following commands, this is what I get:
[code]
File length of 11000 samples is ok but 22025 is not. None of these are multiples of buffer size, so that's not the issue.

*

[2021-11-07 11:57] Oortone commented on #1067
Addition: With the file type provided and command as above it seems all files equal to or bigger than 16370 will crash Meyda.

[2021-11-07 12:01] Oortone commented on #1067
Complete error trace:
`Starting extraction...
|Sample rate recognized as: 22025
internal/buffer.js:53
  throw new ERR_OUT_OF_RANGE(type || 'offset',
  ^

RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 65474. Received 65476
    at boundsError (internal/buffer.js:53:9)
    at Buffer.readInt32LE (internal/buffer.js:275:5)
    at Buffer.readIntLE (internal

[2021-11-07 12:43] Oortone commented on #1066
If I was better at Javascript/Typescript I would love to help out but unfortunately that's a bit out of my reach right now.

[2021-11-07 13:38] Oortone commented on #1067
Yet another observation.
I do believe both this issue and #1066 has to do with floating point wav formats not being read properly. Converting a problematic file to 16 bit (int I guess?) using Sox (a Terminal program similar to ffmpeg) gives a proper csv-file with RMS-levels that make sense.
So my proposal is merging #1066 with this issue and that the solution is to throw an error for the file form

[2021-11-08 09:45] hughrawlinson commented on #1067
Yes, the CLI only supports integer encoded WAVs. See #118. I hope to address that as soon as we have a stateless extract method, which I'm working on in #931, but running into typescript issues with. We should definitely throw a better error in the existing CLI, but that's some fairly old code, and adding stuff there would take time away from finishing #931, which would make working on the CLI muc

[2021-11-08 09:48] hughrawlinson commented on #1066
It's definitely best to compare apples to apples - if you're comparing wavs on disk to audio input via an interface, it might be that your audio interface doesn't have whatever compression was applied to the wav. Is the wav just a plain recording of the audio input? I would expect pink noise to be of a consistent high RMS, and audio input from a microphone to be much quieter.

[2021-11-08 14:04] hughrawlinson commented on #1067
I wrote this quick little CLI that should work for whatever encoding that ffmpeg supports: [let me know if this suits your purposes better?](https://gist.github.com/hughrawlinson/3643b4973e4ce20c3a0175aed5c1f9cf). I imagine you'll need to make changes (like having it call out to sox instead of ffmpeg?), but it might be a good start. In its current state, you need to have ffmpeg installed on your m

[2021-11-10 20:39] Oortone commented on #1067
Thanks for the feedback. I solved this by another extraction strategy in Python prior to calling the Meyda script so I produce integer wav files, seems to work, but I haven't done any deep tests.

I'm pretty sure the size thing was just som strange side effect from floats getting misread. Now with integer wavs I can Meyda-analyze longer files.

[2021-11-10 20:45] Oortone commented on #1066
The wavs are from various sources, professional recordings, but now that I swiched to integer wavs things seems to be getting consistent. I will have to do more tests though.

My idea is to find a correspondance in level between training and realtime.
Alternatively, normalization is an option but I'm not sure how to do that on the actual audio stream (time domain) so I might do it on the Meyda out

[2021-11-10 21:37] hughrawlinson commented on #1066
A couple of things:

1) You could augment your training data (I’m assuming supervised learning?) by copying signals and adding some room noise for your mic. Perhaps even by taking an impulse response of your room and applying that to your input signals. The more representative of the real world that your training data is, the more resilient your model will end up.
2) If your model is operating on

[2021-11-11 09:36] #1067 closed

[2021-11-11 09:45] Oortone commented on #1066
Now I've done a more thorough preliminery test and I get consistent results. Very consistent actually. And even the very stupid and simple model I trained seems to be quite robust to level differences. But as you say I will need to take various measures to augument training data in a more realistic model scenario.

Anyway, this confirms I can train a model in Python with parameters extracted with

[2021-11-11 09:45] #1066 closed

[2021-11-13 22:24] hughrawlinson opened #1074 "Flux using imag component?"
Should flux use the imaginary component? Right now we're on the real component only. Not sure what phase differences would mean. I guess we could add a flag. @nevosegal would appreciate your input on this one 😄

[2021-11-15 08:15] nevosegal commented on #1074
I'm confused. I'm looking at our [spectral flux implementation](https://github.com/meyda/meyda/blob/main/src/extractors/spectralFlux.ts) and it looks like it uses the time-domain signal instead of the amplitude spectrum. I don't think that's right... I'm pretty sure we need to compare consecutive amplitude (or power) spectrums.

[2021-11-15 10:04] hughrawlinson commented on #1074
@nevosegal yes that’s not right - I’ve fixed it in the v6 branch. Should have made that clear! See #852 for the new implementation

[2021-11-15 14:26] Oortone opened #1075 "Some feature extractors not working in CLI version"
**Describe the bug**
The following feature extractors, taken from [this listing](https://meyda-beta.surge.sh/modules/Meyda.html#MeydaAudioFeature), does not produce numerical results on a wav @22 kHz sampling frequency when directin the result to a csv-file
[code]
In the first to cases the resulting file is filled with rows like this:
[code]
However these commands prodcues numerical results on scr

[2021-11-15 16:47] nevosegal commented on #1074
Oh, right. Sorry, I missed that. I think that the new implementation is actually wrong. I don't see how using only the real component is useful. We should be using the magnitude spectrum (abs(spectrum)), where `abs` is applied to the complex number like so: https://en.wikipedia.org/wiki/Absolute_value#Complex_numbers. What do you think?

[2021-11-15 17:42] hughrawlinson commented on #1074
@nevosegal that sounds good, thanks. I was actually also going to ask you about the complex spectrum. In my mind, real was magnitudes, and imag was phased, but that's wrong, and I don't remember what negative values mean. I need to go to Rebecca's lectures again lol. I'll adjust them to use the magnitude spectrum.

[2021-11-15 17:49] hughrawlinson commented on #1075
Thanks! Does this happen on any wav at that sample rate? If so, it would be great if you could provide one.

The bug with Spectral Flux is known and we're working on that in the next major release. The problem is that the fix of that bug contains a breaking change, so we can't release it on the v5 version, and I've been slow merging it because I hadn't been able to get a code review. But we've mad

[2021-11-16 08:37] hughrawlinson commented on #1075
Also it looks like you're still using that temporary site for reference docs - I just wanted to let you know that we've published those improved docs to [our regular site](https://meyda.js.org/reference/interfaces/Meyda.default.html) now :)

[2021-11-16 21:23] hughrawlinson commented on #1075
ah ok! I'll take a look, thanks :)

[2021-11-16 21:28] hughrawlinson commented on #1075
Note for myself: This is likely because we don't distinguish between objects and arrays when rendering the output for csv [here](https://github.com/meyda/meyda/blob/main/bin/cli.js#L192)

[2021-11-16 21:33] hughrawlinson commented on #1075
@Oortone I think some of your problems would be solved if you got the output from meyda in json and then used something like [this ](https://www.npmjs.com/package/json2csv) to convert the JSON to CSV in a more reliable way?

[2021-11-17 19:29] Oortone commented on #1075
OK, thanks. I might have a look at that. Although I don't think I need these features. Just happened to find the bug.

[2021-11-17 20:05] hughrawlinson commented on #1075
Ah cool, thanks!

[2021-11-19 08:53] nevosegal commented on #1074
I miss Rebecca's lectures 😄

[2021-11-23 11:02] hughrawlinson commented on #1074
Question answered, thanks!

[2021-11-23 11:02] #1074 closed

[2021-12-06 12:33] fyuvb opened #1099 "Wrong Logic for HopSize?"
Thank you for the great work in this project.
I was trying to use Meyda for MFCC feature collection. However, I went through the code here in scriptprocessor onaudioprocess callback:
https://github.com/meyda/meyda/blob/main/src/meyda-wa.ts#L163-L184
[code]
I made a drawing to illustrate:
![Screen Shot 2021-12-06 at 8 26 31 PM](https://user-images.githubusercontent.com/35753211/144845884-208b8878-9

[2021-12-06 17:01] hughrawlinson commented on #1099
Hey @fyuvb - Happy to help!

Good catch! Thanks for catching the bug. Definitely something we should fix. If you'd like to give it a go, I'd be happy to review a PR. Otherwise, I'll try and get to it.

[2021-12-07 01:21] fyuvb commented on #1099
Hi @hughrawlinson. Thank you for confirming this problem. I am not very good at javascript so thank you so much for fixing this problem. Much appreciated.

[2022-01-07 18:28] huntercaron commented on #257
👋 is any help needed on this? Would love to contribute if possible

[2022-01-07 18:39] hughrawlinson commented on #257
Hey @huntercaron, thanks for getting in touch. Help would be very much appreciated! I have an idea of how I want the API to look, but I've had trouble getting typescript to handle it properly and provide the proper intellisense tooltip in vs-code. The work is in #931, and I will head over there right now to check if I wrote out what I was thinking, or if I just pushed unfinished code and will *now

[2022-01-14 12:13] jamesb93 opened #1143 "Fluid Corpus Manipulation"
Hi! I'd like to be featured in Meyda's User Showcase. Here's a few sentences explaining why:

We're a research team bringing machine listening and machine learning algorithms to SuperCollider, PureData, Max and the command-line. We have been using Meyda in our learning resources on the web and find it a really nice library for making visualisations and interactive widgets.

...

Project Name: Flui

[2022-01-14 13:15] jamesb93 opened #1144 "Power spectrum for spectral descriptors"
Can we use the power spectrum for spectral "shape" descriptors such as centroid, flatness etc? I think this would be really useful in tuning how perceptually relevant the outputs of the algos are and in our research (https://flucoma.org) we've found it has a really strong bearing on whether or not the values map onto the sound. I would be happy to do a PR if the maintainers think this would be a g

[2022-01-14 16:44] hughrawlinson commented on #1144
I think this would be a good addition. I'm not sure how best to go about it. I'm not worried about a breaking change, as we're working on a new interface anyway in #931 and we can just include it as part of that. But, that's a big chunk of work and I wouldn't want to block this on that. What are your thoughts on how you would expect this functionality to be surfaced to you as a user?

[2022-01-14 16:52] #1143 closed

[2022-01-14 16:52] hughrawlinson commented on #1143
Added! :)

[2022-01-15 10:51] jamesb93 commented on #1144
In another lifetime I might imagine an interface whereby you supply the ampSectrum or powerSpectrum as inputs but I think it would make more sense to pass a `Map()` of parameters:

[code]

or something comparabale like a straight up JSON object. I've actually been using entirely the OOTB defaults for all Meyda stuff, apart from wiggling the buffer size to get lower minimum frequencies and such, so

[2022-01-15 17:29] hughrawlinson commented on #1144
Cool. I'll consider that for the new interface. If you would like to use these soon (I think that interface won't be ready for at least a few months), one thing you could do is to open a PR duplicating the existing feature extractors, naming them with a `powerSpectrum` prefix, like `powerSpectrumCentroid`, and have them use the power spectrum rather than the amplitude spectrum. I could release tha